n8n-workflows/Study Aura - Slides Pipeline AI Agent.json
{
  "name": "Study Aura - Slides Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-slides",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "slides-agent-webhook",
      "name": "Slides Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "study-aura-slides"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slides-prompt",
              "name": "prompt",
              "value": "={{\"You are Study Aura, an educational slide deck generator. Create exactly \" + ($json.body.slideCount || 5) + \" slide outlines for the topic: \" + ($json.body.topic || \"General Study\") + \". Difficulty: \" + ($json.body.difficulty || \"easy\") + \". Return ONLY valid JSON. No markdown. No code fences. Format: {\\\"title\\\": string, \\\"description\\\": string, \\\"slides\\\": [{\\\"slideNumber\\\": number, \\\"title\\\": string, \\\"subtitle\\\": string, \\\"bullets\\\": string[], \\\"speakerNotes\\\": string, \\\"visualIdea\\\": string}]}. Each slide must have 3 to 5 bullets. Speaker notes should be concise.\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-slides-agent-prompt",
      "name": "Prepare Slides Agent Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "slides-ai-agent",
      "name": "Slides AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2200
        }
      },
      "id": "slides-gemini-chat-model",
      "name": "Slides Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 520],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "agent-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "slides-agent-succeeded",
      "name": "Slides Agent Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 260]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!Array.isArray(deck.slides)) {\n    throw new Error(\"Invalid slides format\");\n  }\n} catch (error) {\n  deck = {\n    title: \"Demo Slide Deck\",\n    description: \"A fallback Study Aura slide outline.\",\n    slides: [\n      {\n        slideNumber: 1,\n        title: \"Introduction to Marine Biology\",\n        subtitle: \"Understanding ocean life\",\n        bullets: [\"Marine biology studies ocean organisms\", \"It covers ecosystems, behavior, and conservation\", \"Dolphins and coral reefs are common examples\"],\n        speakerNotes: \"Introduce marine biology as the study of life in the ocean.\",\n        visualIdea: \"Ocean background with icons of dolphins, coral, and fish\"\n      }\n    ]\n  };\n}\n\nconst slides = deck.slides.map((slide, index) => ({\n  slideNumber: Number(slide.slideNumber || index + 1),\n  title: String(slide.title || `Slide ${index + 1}`),\n  subtitle: String(slide.subtitle || \"Study Aura slide\"),\n  bullets: Array.isArray(slide.bullets)\n    ? slide.bullets.map((bullet) => String(bullet)).slice(0, 5)\n    : [\"Review the key idea\"],\n  speakerNotes: String(slide.speakerNotes || \"Explain this concept clearly.\"),\n  visualIdea: String(slide.visualIdea || \"Use a simple educational visual.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Slide Deck\"),\n        description: String(deck.description || \"Generated slide outline.\"),\n        slides\n      },\n      fallback: false\n    }\n  }\n];"
      },
      "id": "clean-slides-agent-json",
      "name": "Clean Slides Agent JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"fallback\": $json.fallback\n  }\n}}",
        "options": {}
      },
      "id": "return-slides-agent-response",
      "name": "Return Slides Agent Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"deck\": {\n    \"title\": \"Demo Fallback Slide Deck\",\n    \"description\": \"A safe fallback slide deck for Study Aura when the AI model is unavailable.\",\n    \"slides\": [\n      {\n        \"slideNumber\": 1,\n        \"title\": \"Introduction to Marine Biology\",\n        \"subtitle\": \"Understanding ocean life\",\n        \"bullets\": [\"Marine biology studies ocean organisms\", \"It covers ecosystems, behavior, and conservation\", \"Dolphins and coral reefs are common examples\"],\n        \"speakerNotes\": \"Introduce marine biology as the study of life in the ocean.\",\n        \"visualIdea\": \"Ocean background with icons of dolphins, coral, and fish\"\n      }\n    ]\n  },\n  \"fallback\": true\n}",
        "options": {}
      },
      "id": "return-slides-agent-fallback",
      "name": "Return Slides Agent Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1260, 380]
    }
  ],
  "connections": {
    "Slides Agent Webhook": {
      "main": [
        [
          {
            "node": "Prepare Slides Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slides Agent Prompt": {
      "main": [
        [
          {
            "node": "Slides AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slides Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Slides AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slides AI Agent": {
      "main": [
        [
          {
            "node": "Slides Agent Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slides Agent Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Slides Agent JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Slides Agent Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Slides Agent JSON": {
      "main": [
        [
          {
            "node": "Return Slides Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}