n8n-workflows/Study Aura - Web Search AI Agent Pipeline.json
{
  "name": "Study Aura - Web Search AI Agent Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-source-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "34b6f144-3a67-45a4-8685-76517539491a",
      "name": "Web Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1424,
        384
      ],
      "webhookId": "web-source-search"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{String($json.body.query || '').trim()}}",
              "type": "string"
            },
            {
              "id": "max-results",
              "name": "maxResults",
              "value": "={{Math.min(Math.max(Number($json.body.maxResults || 5), 1), 8)}}",
              "type": "number"
            },
            {
              "id": "module-id",
              "name": "moduleId",
              "value": "={{$json.body.moduleId || 'demo-module'}}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.body.userId || 'demo-user'}}",
              "type": "string"
            },
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{\n\"You are Study Aura's Web Source Finder Agent.\\n\\n\" +\n\"Your task is to generate a small set of useful educational web source cards for a student's study query.\\n\\n\" +\n\"Student query: \" + String($json.body.query || '').trim() + \"\\n\" +\n\"Maximum results: \" + Math.min(Math.max(Number($json.body.maxResults || 5), 1), 8) + \"\\n\\n\" +\n\"Return ONLY valid JSON. Do not use markdown fences. Do not add commentary outside the JSON.\\n\\n\" +\n\"Required schema:\\n\" +\n\"{\\n\" +\n\"  \\\"success\\\": true,\\n\" +\n\"  \\\"query\\\": \\\"cleaned search query\\\",\\n\" +\n\"  \\\"results\\\": [\\n\" +\n\"    {\\n\" +\n\"      \\\"title\\\": \\\"clear educational source title\\\",\\n\" +\n\"      \\\"url\\\": \\\"https://example.com\\\",\\n\" +\n\"      \\\"snippet\\\": \\\"1 to 2 sentence student-friendly description of what this source may help with.\\\",\\n\" +\n\"      \\\"sourceType\\\": \\\"website\\\"\\n\" +\n\"    }\\n\" +\n\"  ],\\n\" +\n\"  \\\"message\\\": \\\"Found educational web source suggestions.\\\"\\n\" +\n\"}\\n\\n\" +\n\"Rules:\\n\" +\n\"- Return exactly the requested number of results when possible.\\n\" +\n\"- Prefer reputable educational, public websites.\\n\" +\n\"- Good examples: official docs, universities, educational organizations, reputable encyclopedias, Khan Academy, MDN, NASA, NIH, Britannica, Stanford, MIT, Harvard, government education/science pages, or official documentation.\\n\" +\n\"- Avoid suspicious links, piracy, adult content, unsafe pages, random low-quality blogs, fake download sites, and SEO spam.\\n\" +\n\"- Do not invent obscure fake domains.\\n\" +\n\"- If unsure of exact article URLs, use stable homepage or topic/search landing URLs from reputable domains.\\n\" +\n\"- Keep titles clean and student-friendly.\\n\" +\n\"- Keep snippets short and useful.\\n\" +\n\"- Every result must include title, url, snippet, and sourceType.\\n\" +\n\"- sourceType must always be \\\"website\\\".\\n\" +\n\"- Do not claim you browsed the live web.\\n\" +\n\"- This is for an educational app demo, so prioritize safe and reliable sources.\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76b55e6d-0e27-4fa9-a047-52e79ab56a01",
      "name": "Prepare Web Search Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        384
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura's Web Source Finder Agent. You produce safe educational web source cards as strict JSON only. Do not reveal internal workflow details. Do not claim live browsing."
        }
      },
      "id": "74fb3d2d-9b98-42df-9c7e-97ea467c8a58",
      "name": "Gemini Web Source Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -816,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "a46fb38b-16c0-4aad-a35e-dab46a495e1e",
      "name": "Gemini Web Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -816,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "KENDZxdgQGHYC9Xu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const provider = 'gemini';\n\nfunction extractJson(input) {\n  const raw = String(input || '').trim();\n  if (!raw) return null;\n\n  const cleaned = raw\n    .replace(/^```json/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch {\n      return null;\n    }\n  }\n}\n\nfunction cleanUrl(value) {\n  const url = String(value || '').trim();\n  if (!url) return '';\n  if (!/^https?:\\/\\//i.test(url)) return '';\n  return url;\n}\n\nconst prepared = $('Prepare Web Search Prompt').first().json;\nconst parsed = extractJson($json.output || $json.text || $json.response || $json.content || '');\n\nconst maxResults = Number(prepared.maxResults || 5);\n\nconst results = Array.isArray(parsed?.results)\n  ? parsed.results\n      .map((item) => {\n        const url = cleanUrl(item?.url);\n        return {\n          title: String(item?.title || '').replace(/\\s+/g, ' ').trim(),\n          url,\n          snippet: String(item?.snippet || '').replace(/\\s+/g, ' ').trim(),\n          sourceType: 'website'\n        };\n      })\n      .filter((item) => item.title && item.url)\n      .slice(0, maxResults)\n  : [];\n\nreturn [{\n  json: {\n    success: results.length > 0,\n    provider,\n    fallback: false,\n    query: String(parsed?.query || prepared.query || '').trim(),\n    results,\n    message: results.length\n      ? `Found ${results.length} web source suggestions.`\n      : 'Gemini did not return usable web source suggestions.'\n  }\n}];"
      },
      "id": "ae8d5404-aac3-4958-9727-4e13db4096d2",
      "name": "Normalize Gemini Search JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "gemini-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19dade1d-2155-4b9e-93e9-51172a9ec08b",
      "name": "Gemini Search Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "9c35c1e9-8515-4517-a8fb-8be5c60d000a",
      "name": "Return Gemini Web Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node['Prepare Web Search Prompt'].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura's Web Source Finder Agent. You produce safe educational web source cards as strict JSON only. Do not reveal internal workflow details. Do not claim live browsing."
        }
      },
      "id": "dec1eb0d-b3b6-4da6-9e40-aa1a3ad19854",
      "name": "Groq Web Source Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "634a40d9-56e6-44a6-b6c4-330415da7566",
      "name": "Groq Web Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        432
      ],
      "credentials": {
        "groqApi": {
          "id": "WkVbnLQ5QnaDY6HA",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const provider = 'groq';\n\nfunction extractJson(input) {\n  const raw = String(input || '').trim();\n  if (!raw) return null;\n\n  const cleaned = raw\n    .replace(/^```json/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch {\n      return null;\n    }\n  }\n}\n\nfunction cleanUrl(value) {\n  const url = String(value || '').trim();\n  if (!url) return '';\n  if (!/^https?:\\/\\//i.test(url)) return '';\n  return url;\n}\n\nconst prepared = $('Prepare Web Search Prompt').first().json;\nconst parsed = extractJson($json.output || $json.text || $json.response || $json.content || '');\n\nconst maxResults = Number(prepared.maxResults || 5);\n\nconst results = Array.isArray(parsed?.results)\n  ? parsed.results\n      .map((item) => {\n        const url = cleanUrl(item?.url);\n        return {\n          title: String(item?.title || '').replace(/\\s+/g, ' ').trim(),\n          url,\n          snippet: String(item?.snippet || '').replace(/\\s+/g, ' ').trim(),\n          sourceType: 'website'\n        };\n      })\n      .filter((item) => item.title && item.url)\n      .slice(0, maxResults)\n  : [];\n\nreturn [{\n  json: {\n    success: results.length > 0,\n    provider,\n    fallback: true,\n    query: String(parsed?.query || prepared.query || '').trim(),\n    results,\n    message: results.length\n      ? `Found ${results.length} web source suggestions.`\n      : 'Groq did not return usable web source suggestions.'\n  }\n}];"
      },
      "id": "8b208484-cd3b-4b3b-a018-6231504c1f15",
      "name": "Normalize Groq Search JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "groq-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6965f21-dd76-4948-b630-d5c028cceb00",
      "name": "Groq Search Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "a318e305-f64a-4991-a4ba-a38e463a5f2e",
      "name": "Return Groq Web Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        832,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node['Prepare Web Search Prompt'].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura's Web Source Finder Agent. You produce safe educational web source cards as strict JSON only. Do not reveal internal workflow details. Do not claim live browsing."
        }
      },
      "id": "fdbbdee3-8b66-41d0-9006-f7da10159878",
      "name": "OpenRouter Web Source Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        832,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder:free",
        "options": {
          "maxTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "c5955228-2fd0-4702-a3c5-8fde03bc71c2",
      "name": "OpenRouter Web Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        544
      ],
      "credentials": {
        "openRouterApi": {
          "id": "O1MtN8gUMKu5PArU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const provider = 'openrouter';\n\nfunction extractJson(input) {\n  const raw = String(input || '').trim();\n  if (!raw) return null;\n\n  const cleaned = raw\n    .replace(/^```json/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch {\n      return null;\n    }\n  }\n}\n\nfunction cleanUrl(value) {\n  const url = String(value || '').trim();\n  if (!url) return '';\n  if (!/^https?:\\/\\//i.test(url)) return '';\n  return url;\n}\n\nconst prepared = $('Prepare Web Search Prompt').first().json;\nconst parsed = extractJson($json.output || $json.text || $json.response || $json.content || '');\n\nconst maxResults = Number(prepared.maxResults || 5);\n\nconst results = Array.isArray(parsed?.results)\n  ? parsed.results\n      .map((item) => {\n        const url = cleanUrl(item?.url);\n        return {\n          title: String(item?.title || '').replace(/\\s+/g, ' ').trim(),\n          url,\n          snippet: String(item?.snippet || '').replace(/\\s+/g, ' ').trim(),\n          sourceType: 'website'\n        };\n      })\n      .filter((item) => item.title && item.url)\n      .slice(0, maxResults)\n  : [];\n\nreturn [{\n  json: {\n    success: results.length > 0,\n    provider,\n    fallback: true,\n    query: String(parsed?.query || prepared.query || '').trim(),\n    results,\n    message: results.length\n      ? `Found ${results.length} web source suggestions.`\n      : 'OpenRouter did not return usable web source suggestions.'\n  }\n}];"
      },
      "id": "c619a98c-4915-424f-a42b-0fd07e3d41f8",
      "name": "Normalize OpenRouter Search JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "openrouter-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "79cc21d7-7617-415f-a1b6-72a6bc5490ac",
      "name": "OpenRouter Search Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "46b473cd-bc27-42db-bd51-8eca9b44f92f",
      "name": "Return OpenRouter Web Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1648,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node['Prepare Web Search Prompt'].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura's Web Source Finder Agent. You produce safe educational web source cards as strict JSON only. Do not reveal internal workflow details. Do not claim live browsing."
        }
      },
      "id": "4528658c-d190-4e7d-a9a5-725f5622d803",
      "name": "Mistral Web Source Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1648,
        448
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "5b78299c-8ce5-48dc-a8a0-8c4324439170",
      "name": "Mistral Web Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1648,
        672
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "k1efgvKcS9BylMhO",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const provider = 'mistral';\n\nfunction extractJson(input) {\n  const raw = String(input || '').trim();\n  if (!raw) return null;\n\n  const cleaned = raw\n    .replace(/^```json/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch {\n      return null;\n    }\n  }\n}\n\nfunction cleanUrl(value) {\n  const url = String(value || '').trim();\n  if (!url) return '';\n  if (!/^https?:\\/\\//i.test(url)) return '';\n  return url;\n}\n\nconst prepared = $('Prepare Web Search Prompt').first().json;\nconst parsed = extractJson($json.output || $json.text || $json.response || $json.content || '');\n\nconst maxResults = Number(prepared.maxResults || 5);\n\nconst results = Array.isArray(parsed?.results)\n  ? parsed.results\n      .map((item) => {\n        const url = cleanUrl(item?.url);\n        return {\n          title: String(item?.title || '').replace(/\\s+/g, ' ').trim(),\n          url,\n          snippet: String(item?.snippet || '').replace(/\\s+/g, ' ').trim(),\n          sourceType: 'website'\n        };\n      })\n      .filter((item) => item.title && item.url)\n      .slice(0, maxResults)\n  : [];\n\nreturn [{\n  json: {\n    success: results.length > 0,\n    provider,\n    fallback: true,\n    query: String(parsed?.query || prepared.query || '').trim(),\n    results,\n    message: results.length\n      ? `Found ${results.length} web source suggestions.`\n      : 'Mistral did not return usable web source suggestions.'\n  }\n}];"
      },
      "id": "dec93a79-32a1-4241-9d90-9e0b731afd3e",
      "name": "Normalize Mistral Search JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "mistral-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e51f6d70-baff-478f-91b9-94b5c66f2cb4",
      "name": "Mistral Search Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "aeb6cb72-0581-4a2e-8cb0-349a4091de7f",
      "name": "Return Mistral Web Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2464,
        368
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node['Prepare Web Search Prompt'].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura's Web Source Finder Agent. You produce safe educational web source cards as strict JSON only. Do not reveal internal workflow details. Do not claim live browsing."
        }
      },
      "id": "cf944b4a-7b09-4794-9f20-6b6d61c70a8f",
      "name": "DeepSeek Web Source Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2464,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "maxTokens": 900,
          "temperature": 0.2
        }
      },
      "id": "f10e0f74-c338-4f7d-b573-b8a8e9fa6dda",
      "name": "DeepSeek Web Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2464,
        784
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "AS0tXuxuok28tmPV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const provider = 'deepseek';\n\nfunction extractJson(input) {\n  const raw = String(input || '').trim();\n  if (!raw) return null;\n\n  const cleaned = raw\n    .replace(/^```json/i, '')\n    .replace(/^```/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch {\n      return null;\n    }\n  }\n}\n\nfunction cleanUrl(value) {\n  const url = String(value || '').trim();\n  if (!url) return '';\n  if (!/^https?:\\/\\//i.test(url)) return '';\n  return url;\n}\n\nconst prepared = $('Prepare Web Search Prompt').first().json;\nconst parsed = extractJson($json.output || $json.text || $json.response || $json.content || '');\n\nconst maxResults = Number(prepared.maxResults || 5);\n\nconst results = Array.isArray(parsed?.results)\n  ? parsed.results\n      .map((item) => {\n        const url = cleanUrl(item?.url);\n        return {\n          title: String(item?.title || '').replace(/\\s+/g, ' ').trim(),\n          url,\n          snippet: String(item?.snippet || '').replace(/\\s+/g, ' ').trim(),\n          sourceType: 'website'\n        };\n      })\n      .filter((item) => item.title && item.url)\n      .slice(0, maxResults)\n  : [];\n\nreturn [{\n  json: {\n    success: results.length > 0,\n    provider,\n    fallback: true,\n    query: String(parsed?.query || prepared.query || '').trim(),\n    results,\n    message: results.length\n      ? `Found ${results.length} web source suggestions.`\n      : 'DeepSeek did not return usable web source suggestions.'\n  }\n}];"
      },
      "id": "dd0946bd-5d00-498f-8201-226620e10dd6",
      "name": "Normalize DeepSeek Search JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "deepseek-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3fd8454c-60d8-499a-900e-170e5ee10d2f",
      "name": "DeepSeek Search Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3040,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "5bfb3bd6-1063-4030-9162-3d1d0cc76e1b",
      "name": "Return DeepSeek Web Search Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3280,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    success: false,\n    provider: 'static-fallback',\n    fallback: true,\n    query: $node['Prepare Web Search Prompt'].json.query || '',\n    results: [],\n    message: 'Aura could not generate web source suggestions right now. Try a simpler topic or paste a website link directly.'\n  }\n}}",
        "options": {}
      },
      "id": "c83a75e6-3837-4727-89b1-d8f579465767",
      "name": "Return Static Web Search Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3280,
        688
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Web Search Webhook": {
      "main": [
        [
          {
            "node": "Prepare Web Search Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Web Search Prompt": {
      "main": [
        [
          {
            "node": "Gemini Web Source Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Web Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Web Source Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Web Source Agent": {
      "main": [
        [
          {
            "node": "Normalize Gemini Search JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Gemini Search JSON": {
      "main": [
        [
          {
            "node": "Gemini Search Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Valid?": {
      "main": [
        [
          {
            "node": "Return Gemini Web Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Web Source Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Web Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Web Source Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Web Source Agent": {
      "main": [
        [
          {
            "node": "Normalize Groq Search JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Groq Search JSON": {
      "main": [
        [
          {
            "node": "Groq Search Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Search Valid?": {
      "main": [
        [
          {
            "node": "Return Groq Web Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter Web Source Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Web Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenRouter Web Source Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Web Source Agent": {
      "main": [
        [
          {
            "node": "Normalize OpenRouter Search JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize OpenRouter Search JSON": {
      "main": [
        [
          {
            "node": "OpenRouter Search Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Search Valid?": {
      "main": [
        [
          {
            "node": "Return OpenRouter Web Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Web Source Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Web Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Web Source Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Web Source Agent": {
      "main": [
        [
          {
            "node": "Normalize Mistral Search JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Mistral Search JSON": {
      "main": [
        [
          {
            "node": "Mistral Search Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Search Valid?": {
      "main": [
        [
          {
            "node": "Return Mistral Web Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeepSeek Web Source Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Web Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Web Source Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Web Source Agent": {
      "main": [
        [
          {
            "node": "Normalize DeepSeek Search JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize DeepSeek Search JSON": {
      "main": [
        [
          {
            "node": "DeepSeek Search Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Search Valid?": {
      "main": [
        [
          {
            "node": "Return DeepSeek Web Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Static Web Search Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b678ba5-51c8-42d4-a465-0e643eff6f88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f764945c1c84e3150fef3e723867048d510331bfb76c2fd5193ecd91ac2a5a2e"
  },
  "id": "QjyynsXnpj7dtGom",
  "tags": []
}