n8n-workflows/Study Aura - Flashcards Pipeline Gemini with Fallback.json
{
  "name": "Study Aura - Flashcards Pipeline Gemini with Fallback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-flashcards",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "flashcards-webhook",
      "name": "Flashcards Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "study-aura-flashcards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "flashcards-prompt",
              "name": "prompt",
              "value": "={{\"You are Study Aura, an educational flashcard generator. Create exactly \" + ($json.body.cardCount || 10) + \" interactive flashcards for the topic: \" + ($json.body.topic || \"General Study\") + \". Difficulty: \" + ($json.body.difficulty || \"easy\") + \". Return ONLY valid JSON. No markdown. No code fences. Format: {\\\"title\\\": string, \\\"cards\\\": [{\\\"type\\\": \\\"question\\\" | \\\"fill_blank\\\", \\\"prompt\\\": string, \\\"answer\\\": string, \\\"hint\\\": string, \\\"explanation\\\": string}]}. Mix question and fill_blank card types. Keep answers short enough for typed input. The answer should be a concise phrase, not a full paragraph.\"}}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{$json.body.topic || \"General Study\"}}",
              "type": "string"
            },
            {
              "id": "difficulty",
              "name": "difficulty",
              "value": "={{$json.body.difficulty || \"easy\"}}",
              "type": "string"
            },
            {
              "id": "card-count",
              "name": "cardCount",
              "value": "={{$json.body.cardCount || 10}}",
              "type": "number"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.body.userId || \"demo-user\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-flashcards-prompt",
      "name": "Prepare Flashcards Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents[0][parts][0][text]",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "generationConfig[temperature]",
              "value": "0.35"
            },
            {
              "name": "generationConfig[maxOutputTokens]",
              "value": "1400"
            }
          ]
        },
        "options": {}
      },
      "id": "ask-gemini-flashcards",
      "name": "Ask Gemini Flashcards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "flashcards-text-exists",
              "leftValue": "={{$json.candidates[0].content.parts[0].text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-succeeded",
      "name": "Flashcards Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [980, 260]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.candidates?.[0]?.content?.parts?.[0]?.text ?? \"\";\n\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  deck = {\n    title: \"Generated Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What should you do if Study Aura generated an invalid flashcard response?\",\n        answer: \"Try again\",\n        hint: \"Repeat the generation process.\",\n        explanation: \"Sometimes AI output formatting can fail. Retrying usually fixes the JSON structure.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback: false\n    }\n  }\n];"
      },
      "id": "clean-flashcards-json",
      "name": "Clean Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"fallback\": $json.fallback\n  }\n}}",
        "options": {}
      },
      "id": "return-flashcards-response",
      "name": "Return Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"deck\": {\n    \"title\": \"Demo Fallback Flashcards\",\n    \"cards\": [\n      {\n        \"type\": \"question\",\n        \"prompt\": \"What is Study Aura designed to help students create?\",\n        \"answer\": \"Study tools\",\n        \"hint\": \"Think about quizzes and flashcards.\",\n        \"explanation\": \"Study Aura helps students generate learning tools such as quizzes, flashcards, tables, and summaries.\"\n      },\n      {\n        \"type\": \"fill_blank\",\n        \"prompt\": \"Dolphins are intelligent marine ________.\",\n        \"answer\": \"mammals\",\n        \"hint\": \"They breathe air and nurse their young.\",\n        \"explanation\": \"Dolphins are mammals because they breathe air, are warm-blooded, and feed milk to their young.\"\n      },\n      {\n        \"type\": \"question\",\n        \"prompt\": \"What should you do when studying a difficult topic?\",\n        \"answer\": \"Break it into smaller parts\",\n        \"hint\": \"Make the topic easier to manage.\",\n        \"explanation\": \"Breaking difficult topics into smaller parts improves understanding and retention.\"\n      }\n    ]\n  },\n  \"fallback\": true\n}",
        "options": {}
      },
      "id": "return-flashcards-fallback",
      "name": "Return Flashcards Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1260, 380]
    }
  ],
  "connections": {
    "Flashcards Webhook": {
      "main": [
        [
          {
            "node": "Prepare Flashcards Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Flashcards Prompt": {
      "main": [
        [
          {
            "node": "Ask Gemini Flashcards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Gemini Flashcards": {
      "main": [
        [
          {
            "node": "Flashcards Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Flashcards Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}