n8n-workflows/Study Aura - Tables Pipeline AI Agent.json
{
  "name": "Study Aura - Tables Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-tables",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tables-agent-webhook",
      "name": "Tables Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3184,
        912
      ],
      "webhookId": "study-aura-tables"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tables-prompt",
              "name": "prompt",
              "value": "={{\n\"You are Study Aura, an educational table generator. Create a structured study table for the topic: \" + ($json.body.topic || \"General Study\") + \". Difficulty: \" + ($json.body.difficulty || \"easy\") + \". Table type: \" + ($json.body.tableType || \"concept_comparison\") + \". Create exactly \" + ($json.body.rowCount || 5) + \" rows.\\n\\n\" +\n\"Selected source context:\\n\" +\n(\n  Array.isArray($json.body.selectedSources) && $json.body.selectedSources.length > 0\n    ? $json.body.selectedSources.map((source, index) => {\n        return (index + 1) + \". \" + (source.title || \"Untitled Source\") + \" [\" + (source.type || \"source\") + \"]\\n\" +\n          \"Summary or content: \" + (source.summary || source.value || \"No summary provided.\");\n      }).join(\"\\n\\n\")\n    : \"No selected sources were provided. Use the topic only.\"\n) +\n\"\\n\\nReturn ONLY valid JSON. No markdown. No code fences.\\n\" +\n\"Required JSON format: {\\\"title\\\": string, \\\"description\\\": string, \\\"columns\\\": [{\\\"key\\\": string, \\\"label\\\": string}], \\\"rows\\\": [{stringKey: stringValue}]}.\\n\" +\n\"Rules:\\n\" +\n\"- Use 3 to 5 columns only.\\n\" +\n\"- Every row must use the exact column keys.\\n\" +\n\"- Keep cell values concise and student-friendly.\\n\" +\n\"- Prioritize selected source context when available.\\n\" +\n\"- Do not include markdown, comments, or text outside JSON.\"\n}}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{$json.body.topic || \"General Study\"}}",
              "type": "string"
            },
            {
              "id": "difficulty",
              "name": "difficulty",
              "value": "={{$json.body.difficulty || \"easy\"}}",
              "type": "string"
            },
            {
              "id": "table-type",
              "name": "tableType",
              "value": "={{$json.body.tableType || \"concept_comparison\"}}",
              "type": "string"
            },
            {
              "id": "row-count",
              "name": "rowCount",
              "value": "={{$json.body.rowCount || 5}}",
              "type": "number"
            },
            {
              "id": "module-id",
              "name": "moduleId",
              "value": "={{$json.body.moduleId || \"demo-module\"}}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.body.userId || \"demo-user\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-tables-agent-prompt",
      "name": "Prepare Tables Agent Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        912
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "tables-gemini-ai-agent",
      "name": "Tables Gemini AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2576,
        608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.35,
          "maxOutputTokens": 2200
        }
      },
      "id": "tables-gemini-chat-model",
      "name": "Tables Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2576,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_GEMINI_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "gemini-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "gemini-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-gemini-succeeded",
      "name": "Tables Gemini Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet table;\nlet fallback = false;\n\ntry {\n  table = JSON.parse(cleaned);\n\n  if (!Array.isArray(table.columns) || !Array.isArray(table.rows)) {\n    throw new Error(\"Invalid table format\");\n  }\n} catch (error) {\n  fallback = true;\n  table = {\n    title: \"Study Aura Table\",\n    description: \"A quick fallback table for organizing a study topic.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    rows: [\n      {\n        concept: \"Key idea\",\n        meaning: \"The main point to understand\",\n        example: \"Break a topic into smaller parts\"\n      },\n      {\n        concept: \"Review\",\n        meaning: \"Practice remembering important details\",\n        example: \"Use quizzes or flashcards\"\n      }\n    ]\n  };\n}\n\nlet columns = Array.isArray(table.columns) ? table.columns.slice(0, 5) : [];\n\ncolumns = columns.map((column, index) => {\n  const fallbackKey = `column_${index + 1}`;\n  const key = String(column.key || fallbackKey).replace(/[^a-zA-Z0-9_]/g, \"_\").toLowerCase();\n\n  return {\n    key,\n    label: String(column.label || column.key || `Column ${index + 1}`)\n  };\n});\n\nif (columns.length < 3) {\n  columns = [\n    { key: \"concept\", label: \"Concept\" },\n    { key: \"meaning\", label: \"Meaning\" },\n    { key: \"example\", label: \"Example\" }\n  ];\n}\n\nconst rows = Array.isArray(table.rows)\n  ? table.rows.map((row) => {\n      const normalizedRow = {};\n\n      for (const column of columns) {\n        normalizedRow[column.key] = String(row[column.key] || row[column.label] || \"\");\n      }\n\n      return normalizedRow;\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      table: {\n        title: String(table.title || \"Study Aura Table\"),\n        description: String(table.description || \"Generated study table.\"),\n        columns,\n        rows\n      },\n      fallback,\n      provider: $json.provider || \"gemini\"\n    }\n  }\n];"
      },
      "id": "clean-gemini-tables-json",
      "name": "Clean Gemini Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": $json.table,\n    \"provider\": \"gemini\",\n    \"fallback\": $json.fallback\n  }\n}}",
        "options": {}
      },
      "id": "return-gemini-tables-response",
      "name": "Return Gemini Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1664,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "tables-groq-ai-agent",
      "name": "Tables Groq AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1936,
        736
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.35
        }
      },
      "id": "tables-groq-chat-model",
      "name": "Tables Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1936,
        960
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_GROQ_CREDENTIAL_ID",
          "name": "Study Aura Groq Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "groq-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "groq-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-groq-succeeded",
      "name": "Tables Groq Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet table;\nlet fallback = false;\n\ntry {\n  table = JSON.parse(cleaned);\n\n  if (!Array.isArray(table.columns) || !Array.isArray(table.rows)) {\n    throw new Error(\"Invalid table format\");\n  }\n} catch (error) {\n  fallback = true;\n  table = {\n    title: \"Study Aura Table\",\n    description: \"A quick fallback table for organizing a study topic.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    rows: [\n      {\n        concept: \"Key idea\",\n        meaning: \"The main point to understand\",\n        example: \"Break a topic into smaller parts\"\n      },\n      {\n        concept: \"Review\",\n        meaning: \"Practice remembering important details\",\n        example: \"Use quizzes or flashcards\"\n      }\n    ]\n  };\n}\n\nlet columns = Array.isArray(table.columns) ? table.columns.slice(0, 5) : [];\n\ncolumns = columns.map((column, index) => {\n  const fallbackKey = `column_${index + 1}`;\n  const key = String(column.key || fallbackKey).replace(/[^a-zA-Z0-9_]/g, \"_\").toLowerCase();\n\n  return {\n    key,\n    label: String(column.label || column.key || `Column ${index + 1}`)\n  };\n});\n\nif (columns.length < 3) {\n  columns = [\n    { key: \"concept\", label: \"Concept\" },\n    { key: \"meaning\", label: \"Meaning\" },\n    { key: \"example\", label: \"Example\" }\n  ];\n}\n\nconst rows = Array.isArray(table.rows)\n  ? table.rows.map((row) => {\n      const normalizedRow = {};\n\n      for (const column of columns) {\n        normalizedRow[column.key] = String(row[column.key] || row[column.label] || \"\");\n      }\n\n      return normalizedRow;\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      table: {\n        title: String(table.title || \"Study Aura Table\"),\n        description: String(table.description || \"Generated study table.\"),\n        columns,\n        rows\n      },\n      fallback,\n      provider: $json.provider || \"groq\"\n    }\n  }\n];"
      },
      "id": "clean-groq-tables-json",
      "name": "Clean Groq Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        656
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": $json.table,\n    \"provider\": \"groq\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-groq-tables-response",
      "name": "Return Groq Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1024,
        656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "tables-openrouter-ai-agent",
      "name": "Tables OpenRouter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1024,
        848
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder:free",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-openrouter-chat-model",
      "name": "Tables OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1024,
        1072
      ],
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "Study Aura OpenRouter Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "openrouter-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "openrouter-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-openrouter-succeeded",
      "name": "Tables OpenRouter Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet table;\nlet fallback = false;\n\ntry {\n  table = JSON.parse(cleaned);\n\n  if (!Array.isArray(table.columns) || !Array.isArray(table.rows)) {\n    throw new Error(\"Invalid table format\");\n  }\n} catch (error) {\n  fallback = true;\n  table = {\n    title: \"Study Aura Table\",\n    description: \"A quick fallback table for organizing a study topic.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    rows: [\n      {\n        concept: \"Key idea\",\n        meaning: \"The main point to understand\",\n        example: \"Break a topic into smaller parts\"\n      },\n      {\n        concept: \"Review\",\n        meaning: \"Practice remembering important details\",\n        example: \"Use quizzes or flashcards\"\n      }\n    ]\n  };\n}\n\nlet columns = Array.isArray(table.columns) ? table.columns.slice(0, 5) : [];\n\ncolumns = columns.map((column, index) => {\n  const fallbackKey = `column_${index + 1}`;\n  const key = String(column.key || fallbackKey).replace(/[^a-zA-Z0-9_]/g, \"_\").toLowerCase();\n\n  return {\n    key,\n    label: String(column.label || column.key || `Column ${index + 1}`)\n  };\n});\n\nif (columns.length < 3) {\n  columns = [\n    { key: \"concept\", label: \"Concept\" },\n    { key: \"meaning\", label: \"Meaning\" },\n    { key: \"example\", label: \"Example\" }\n  ];\n}\n\nconst rows = Array.isArray(table.rows)\n  ? table.rows.map((row) => {\n      const normalizedRow = {};\n\n      for (const column of columns) {\n        normalizedRow[column.key] = String(row[column.key] || row[column.label] || \"\");\n      }\n\n      return normalizedRow;\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      table: {\n        title: String(table.title || \"Study Aura Table\"),\n        description: String(table.description || \"Generated study table.\"),\n        columns,\n        rows\n      },\n      fallback,\n      provider: $json.provider || \"openrouter\"\n    }\n  }\n];"
      },
      "id": "clean-openrouter-tables-json",
      "name": "Clean OpenRouter Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": $json.table,\n    \"provider\": \"openrouter\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-openrouter-tables-response",
      "name": "Return OpenRouter Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -112,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "tables-mistral-ai-agent",
      "name": "Tables Mistral AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -112,
        976
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-mistral-chat-model",
      "name": "Tables Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -112,
        1200
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "REPLACE_WITH_MISTRAL_CREDENTIAL_ID",
          "name": "Study Aura Mistral Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "mistral-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "mistral-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-mistral-succeeded",
      "name": "Tables Mistral Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet table;\nlet fallback = false;\n\ntry {\n  table = JSON.parse(cleaned);\n\n  if (!Array.isArray(table.columns) || !Array.isArray(table.rows)) {\n    throw new Error(\"Invalid table format\");\n  }\n} catch (error) {\n  fallback = true;\n  table = {\n    title: \"Study Aura Table\",\n    description: \"A quick fallback table for organizing a study topic.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    rows: [\n      {\n        concept: \"Key idea\",\n        meaning: \"The main point to understand\",\n        example: \"Break a topic into smaller parts\"\n      },\n      {\n        concept: \"Review\",\n        meaning: \"Practice remembering important details\",\n        example: \"Use quizzes or flashcards\"\n      }\n    ]\n  };\n}\n\nlet columns = Array.isArray(table.columns) ? table.columns.slice(0, 5) : [];\n\ncolumns = columns.map((column, index) => {\n  const fallbackKey = `column_${index + 1}`;\n  const key = String(column.key || fallbackKey).replace(/[^a-zA-Z0-9_]/g, \"_\").toLowerCase();\n\n  return {\n    key,\n    label: String(column.label || column.key || `Column ${index + 1}`)\n  };\n});\n\nif (columns.length < 3) {\n  columns = [\n    { key: \"concept\", label: \"Concept\" },\n    { key: \"meaning\", label: \"Meaning\" },\n    { key: \"example\", label: \"Example\" }\n  ];\n}\n\nconst rows = Array.isArray(table.rows)\n  ? table.rows.map((row) => {\n      const normalizedRow = {};\n\n      for (const column of columns) {\n        normalizedRow[column.key] = String(row[column.key] || row[column.label] || \"\");\n      }\n\n      return normalizedRow;\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      table: {\n        title: String(table.title || \"Study Aura Table\"),\n        description: String(table.description || \"Generated study table.\"),\n        columns,\n        rows\n      },\n      fallback,\n      provider: $json.provider || \"mistral\"\n    }\n  }\n];"
      },
      "id": "clean-mistral-tables-json",
      "name": "Clean Mistral Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        896
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": $json.table,\n    \"provider\": \"mistral\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-mistral-tables-response",
      "name": "Return Mistral Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "tables-deepseek-ai-agent",
      "name": "Tables DeepSeek AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        1088
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-deepseek-chat-model",
      "name": "Tables DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        800,
        1312
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "REPLACE_WITH_DEEPSEEK_CREDENTIAL_ID",
          "name": "Study Aura DeepSeek Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "deepseek-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "deepseek-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-deepseek-succeeded",
      "name": "Tables DeepSeek Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet table;\nlet fallback = false;\n\ntry {\n  table = JSON.parse(cleaned);\n\n  if (!Array.isArray(table.columns) || !Array.isArray(table.rows)) {\n    throw new Error(\"Invalid table format\");\n  }\n} catch (error) {\n  fallback = true;\n  table = {\n    title: \"Study Aura Table\",\n    description: \"A quick fallback table for organizing a study topic.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    rows: [\n      {\n        concept: \"Key idea\",\n        meaning: \"The main point to understand\",\n        example: \"Break a topic into smaller parts\"\n      },\n      {\n        concept: \"Review\",\n        meaning: \"Practice remembering important details\",\n        example: \"Use quizzes or flashcards\"\n      }\n    ]\n  };\n}\n\nlet columns = Array.isArray(table.columns) ? table.columns.slice(0, 5) : [];\n\ncolumns = columns.map((column, index) => {\n  const fallbackKey = `column_${index + 1}`;\n  const key = String(column.key || fallbackKey).replace(/[^a-zA-Z0-9_]/g, \"_\").toLowerCase();\n\n  return {\n    key,\n    label: String(column.label || column.key || `Column ${index + 1}`)\n  };\n});\n\nif (columns.length < 3) {\n  columns = [\n    { key: \"concept\", label: \"Concept\" },\n    { key: \"meaning\", label: \"Meaning\" },\n    { key: \"example\", label: \"Example\" }\n  ];\n}\n\nconst rows = Array.isArray(table.rows)\n  ? table.rows.map((row) => {\n      const normalizedRow = {};\n\n      for (const column of columns) {\n        normalizedRow[column.key] = String(row[column.key] || row[column.label] || \"\");\n      }\n\n      return normalizedRow;\n    })\n  : [];\n\nreturn [\n  {\n    json: {\n      table: {\n        title: String(table.title || \"Study Aura Table\"),\n        description: String(table.description || \"Generated study table.\"),\n        columns,\n        rows\n      },\n      fallback,\n      provider: $json.provider || \"deepseek\"\n    }\n  }\n];"
      },
      "id": "clean-deepseek-tables-json",
      "name": "Clean DeepSeek Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": $json.table,\n    \"provider\": \"deepseek\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-deepseek-tables-response",
      "name": "Return DeepSeek Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1712,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"table\": {\n      \"title\": \"Study Aura Table\",\n      \"description\": \"A quick fallback table for organizing a study topic.\",\n      \"columns\": [\n        { \"key\": \"concept\", \"label\": \"Concept\" },\n        { \"key\": \"meaning\", \"label\": \"Meaning\" },\n        { \"key\": \"example\", \"label\": \"Example\" }\n      ],\n      \"rows\": [\n        {\n          \"concept\": \"Key idea\",\n          \"meaning\": \"The main point to understand\",\n          \"example\": \"Break a topic into smaller parts\"\n        },\n        {\n          \"concept\": \"Review\",\n          \"meaning\": \"Practice remembering important details\",\n          \"example\": \"Use quizzes or flashcards\"\n        }\n      ]\n    },\n    \"provider\": \"static-fallback\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-static-tables-fallback",
      "name": "Return Static Tables Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1712,
        1216
      ]
    }
  ],
  "connections": {
    "Tables Agent Webhook": {
      "main": [
        [
          {
            "node": "Prepare Tables Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tables Agent Prompt": {
      "main": [
        [
          {
            "node": "Tables Gemini AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Gemini AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini AI Agent": {
      "main": [
        [
          {
            "node": "Tables Gemini Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Gemini Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Gemini Tables JSON": {
      "main": [
        [
          {
            "node": "Return Gemini Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Groq AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq AI Agent": {
      "main": [
        [
          {
            "node": "Tables Groq Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Groq Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables OpenRouter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Groq Tables JSON": {
      "main": [
        [
          {
            "node": "Return Groq Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables OpenRouter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter AI Agent": {
      "main": [
        [
          {
            "node": "Tables OpenRouter Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter Succeeded?": {
      "main": [
        [
          {
            "node": "Clean OpenRouter Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables Mistral AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean OpenRouter Tables JSON": {
      "main": [
        [
          {
            "node": "Return OpenRouter Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Mistral AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral AI Agent": {
      "main": [
        [
          {
            "node": "Tables Mistral Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Mistral Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables DeepSeek AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Mistral Tables JSON": {
      "main": [
        [
          {
            "node": "Return Mistral Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables DeepSeek AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek AI Agent": {
      "main": [
        [
          {
            "node": "Tables DeepSeek Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek Succeeded?": {
      "main": [
        [
          {
            "node": "Clean DeepSeek Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Static Tables Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean DeepSeek Tables JSON": {
      "main": [
        [
          {
            "node": "Return DeepSeek Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}