n8n-workflows/Study Aura - Mind Map Pipeline AI Agent.json
{
  "name": "Study Aura - Mind Map Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-mindmap",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mindmap-agent-webhook",
      "name": "Mind Map Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "study-aura-mindmap"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mindmap-prompt",
              "name": "prompt",
              "value": "={{\"You are Study Aura, an educational mind map generator. Create a mind map for the topic: \" + ($json.body.topic || \"General Study\") + \". Difficulty: \" + ($json.body.difficulty || \"easy\") + \". Create exactly \" + ($json.body.branchCount || 4) + \" branches. Return ONLY valid JSON. No markdown. No code fences. Format: {\\\"title\\\": string, \\\"center\\\": string, \\\"description\\\": string, \\\"branches\\\": [{\\\"title\\\": string, \\\"summary\\\": string, \\\"keywords\\\": string[]}]}. Each branch must have 3 to 5 short keywords.\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-mindmap-agent-prompt",
      "name": "Prepare Mind Map Agent Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "mindmap-ai-agent",
      "name": "Mind Map AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 1600
        }
      },
      "id": "mindmap-gemini-chat-model",
      "name": "Mind Map Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 520],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "agent-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mindmap-agent-succeeded",
      "name": "Mind Map Agent Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 260]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet mindMap;\n\ntry {\n  mindMap = JSON.parse(cleaned);\n\n  if (!Array.isArray(mindMap.branches)) {\n    throw new Error(\"Invalid mind map format\");\n  }\n} catch (error) {\n  mindMap = {\n    title: \"Demo Mind Map\",\n    center: \"Marine Biology\",\n    description: \"A fallback concept map for Study Aura.\",\n    branches: [\n      {\n        title: \"Marine Mammals\",\n        summary: \"Animals like dolphins and whales that breathe air and nurse their young.\",\n        keywords: [\"dolphins\", \"whales\", \"mammals\"]\n      },\n      {\n        title: \"Coral Reefs\",\n        summary: \"Important marine ecosystems that support biodiversity.\",\n        keywords: [\"coral\", \"habitat\", \"biodiversity\"]\n      }\n    ]\n  };\n}\n\nconst branches = mindMap.branches.map((branch) => ({\n  title: String(branch.title || \"Untitled Branch\"),\n  summary: String(branch.summary || \"Review this concept.\"),\n  keywords: Array.isArray(branch.keywords)\n    ? branch.keywords.map((keyword) => String(keyword)).slice(0, 5)\n    : [\"study\", \"review\"]\n}));\n\nreturn [\n  {\n    json: {\n      mindMap: {\n        title: String(mindMap.title || \"Study Aura Mind Map\"),\n        center: String(mindMap.center || \"Main Topic\"),\n        description: String(mindMap.description || \"Generated concept map.\"),\n        branches\n      },\n      fallback: false\n    }\n  }\n];"
      },
      "id": "clean-mindmap-agent-json",
      "name": "Clean Mind Map Agent JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"mindMap\": $json.mindMap,\n    \"fallback\": $json.fallback\n  }\n}}",
        "options": {}
      },
      "id": "return-mindmap-agent-response",
      "name": "Return Mind Map Agent Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"mindMap\": {\n    \"title\": \"Demo Fallback Mind Map\",\n    \"center\": \"Marine Biology\",\n    \"description\": \"A safe fallback mind map for Study Aura when the AI model is unavailable.\",\n    \"branches\": [\n      {\n        \"title\": \"Marine Mammals\",\n        \"summary\": \"Dolphins and whales breathe air, are warm-blooded, and nurse their young.\",\n        \"keywords\": [\"dolphins\", \"whales\", \"mammals\"]\n      },\n      {\n        \"title\": \"Coral Reefs\",\n        \"summary\": \"Coral reefs are underwater ecosystems that support many marine species.\",\n        \"keywords\": [\"coral\", \"reef\", \"biodiversity\"]\n      }\n    ]\n  },\n  \"fallback\": true\n}",
        "options": {}
      },
      "id": "return-mindmap-agent-fallback",
      "name": "Return Mind Map Agent Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1260, 380]
    }
  ],
  "connections": {
    "Mind Map Agent Webhook": {
      "main": [
        [
          {
            "node": "Prepare Mind Map Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mind Map Agent Prompt": {
      "main": [
        [
          {
            "node": "Mind Map AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mind Map Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mind Map AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mind Map AI Agent": {
      "main": [
        [
          {
            "node": "Mind Map Agent Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mind Map Agent Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Mind Map Agent JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Mind Map Agent Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Mind Map Agent JSON": {
      "main": [
        [
          {
            "node": "Return Mind Map Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}