n8n-workflows/Study Aura - Flashcards Pipeline AI Agent.json
{
  "name": "Study Aura - Flashcards Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-flashcards",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "flashcards-agent-webhook",
      "name": "Flashcards Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3184,
        912
      ],
      "webhookId": "study-aura-flashcards"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "flashcards-prompt",
              "name": "prompt",
              "value": "={{\n\"You are Study Aura, an educational flashcard generator. Create exactly \" + ($json.body.cardCount || 10) + \" interactive flashcards for the topic: \" + ($json.body.topic || \"General Study\") + \". Difficulty: \" + ($json.body.difficulty || \"easy\") + \".\\n\\n\" +\n\"Selected source context:\\n\" +\n(\n  Array.isArray($json.body.selectedSources) && $json.body.selectedSources.length > 0\n    ? $json.body.selectedSources.map((source, index) => {\n        return (index + 1) + \". \" + (source.title || \"Untitled Source\") + \" [\" + (source.type || \"source\") + \"]\\n\" +\n          \"Summary or content: \" + (source.summary || source.value || \"No summary provided.\");\n      }).join(\"\\n\\n\")\n    : \"No selected sources were provided. Use the topic only.\"\n) +\n\"\\n\\nReturn ONLY valid JSON. No markdown. No code fences.\\n\" +\n\"Required JSON format: {\\\"title\\\": string, \\\"cards\\\": [{\\\"type\\\": \\\"question\\\" | \\\"fill_blank\\\", \\\"prompt\\\": string, \\\"answer\\\": string, \\\"hint\\\": string, \\\"explanation\\\": string}]}.\\n\" +\n\"Rules:\\n\" +\n\"- Mix question and fill_blank card types.\\n\" +\n\"- Keep answers short enough for typed input.\\n\" +\n\"- The answer should be a concise phrase, not a full paragraph.\\n\" +\n\"- Hints should help but not reveal the full answer.\\n\" +\n\"- Explanations should be short and student-friendly.\\n\" +\n\"- Prioritize selected source context when available.\\n\" +\n\"- Do not include markdown, comments, or text outside JSON.\"\n}}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{$json.body.topic || \"General Study\"}}",
              "type": "string"
            },
            {
              "id": "difficulty",
              "name": "difficulty",
              "value": "={{$json.body.difficulty || \"easy\"}}",
              "type": "string"
            },
            {
              "id": "card-count",
              "name": "cardCount",
              "value": "={{$json.body.cardCount || 10}}",
              "type": "number"
            },
            {
              "id": "module-id",
              "name": "moduleId",
              "value": "={{$json.body.moduleId || \"demo-module\"}}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.body.userId || \"demo-user\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-flashcards-agent-prompt",
      "name": "Prepare Flashcards Agent Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        912
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "flashcards-gemini-ai-agent",
      "name": "Flashcards Gemini AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2576,
        608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2200
        }
      },
      "id": "flashcards-gemini-chat-model",
      "name": "Flashcards Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2576,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_GEMINI_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "gemini-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "gemini-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-gemini-succeeded",
      "name": "Flashcards Gemini Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\nlet fallback = false;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.title || !deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  fallback = true;\n  deck = {\n    title: \"Study Aura Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What is the best first step when reviewing a new topic?\",\n        answer: \"Break it into smaller parts\",\n        hint: \"Think of making the topic easier to handle.\",\n        explanation: \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback,\n      provider: $json.provider || \"gemini\"\n    }\n  }\n];"
      },
      "id": "clean-gemini-flashcards-json",
      "name": "Clean Gemini Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"provider\": \"gemini\",\n    \"fallback\": $json.fallback\n  }\n}}",
        "options": {}
      },
      "id": "return-gemini-flashcards-response",
      "name": "Return Gemini Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1664,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Flashcards Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "flashcards-groq-ai-agent",
      "name": "Flashcards Groq AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1936,
        736
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "flashcards-groq-chat-model",
      "name": "Flashcards Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1936,
        960
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_GROQ_CREDENTIAL_ID",
          "name": "Study Aura Groq Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "groq-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "groq-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-groq-succeeded",
      "name": "Flashcards Groq Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\nlet fallback = false;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.title || !deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  fallback = true;\n  deck = {\n    title: \"Study Aura Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What is the best first step when reviewing a new topic?\",\n        answer: \"Break it into smaller parts\",\n        hint: \"Think of making the topic easier to handle.\",\n        explanation: \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback,\n      provider: $json.provider || \"groq\"\n    }\n  }\n];"
      },
      "id": "clean-groq-flashcards-json",
      "name": "Clean Groq Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        656
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"provider\": \"groq\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-groq-flashcards-response",
      "name": "Return Groq Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1024,
        656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Flashcards Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "flashcards-openrouter-ai-agent",
      "name": "Flashcards OpenRouter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1024,
        848
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder:free",
        "options": {
          "temperature": 0.4,
          "maxTokens": 2200
        }
      },
      "id": "flashcards-openrouter-chat-model",
      "name": "Flashcards OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1024,
        1072
      ],
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "Study Aura OpenRouter Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "openrouter-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "openrouter-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-openrouter-succeeded",
      "name": "Flashcards OpenRouter Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\nlet fallback = false;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.title || !deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  fallback = true;\n  deck = {\n    title: \"Study Aura Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What is the best first step when reviewing a new topic?\",\n        answer: \"Break it into smaller parts\",\n        hint: \"Think of making the topic easier to handle.\",\n        explanation: \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback,\n      provider: $json.provider || \"openrouter\"\n    }\n  }\n];"
      },
      "id": "clean-openrouter-flashcards-json",
      "name": "Clean OpenRouter Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"provider\": \"openrouter\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-openrouter-flashcards-response",
      "name": "Return OpenRouter Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -112,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Flashcards Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "flashcards-mistral-ai-agent",
      "name": "Flashcards Mistral AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -112,
        976
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0.4,
          "maxTokens": 2200
        }
      },
      "id": "flashcards-mistral-chat-model",
      "name": "Flashcards Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -112,
        1200
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "REPLACE_WITH_MISTRAL_CREDENTIAL_ID",
          "name": "Study Aura Mistral Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "mistral-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "mistral-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-mistral-succeeded",
      "name": "Flashcards Mistral Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\nlet fallback = false;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.title || !deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  fallback = true;\n  deck = {\n    title: \"Study Aura Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What is the best first step when reviewing a new topic?\",\n        answer: \"Break it into smaller parts\",\n        hint: \"Think of making the topic easier to handle.\",\n        explanation: \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback,\n      provider: $json.provider || \"mistral\"\n    }\n  }\n];"
      },
      "id": "clean-mistral-flashcards-json",
      "name": "Clean Mistral Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        896
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"provider\": \"mistral\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-mistral-flashcards-response",
      "name": "Return Mistral Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Prepare Flashcards Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, or explanations outside JSON."
        }
      },
      "id": "flashcards-deepseek-ai-agent",
      "name": "Flashcards DeepSeek AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        1088
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "temperature": 0.4,
          "maxTokens": 2200
        }
      },
      "id": "flashcards-deepseek-chat-model",
      "name": "Flashcards DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        800,
        1312
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "REPLACE_WITH_DEEPSEEK_CREDENTIAL_ID",
          "name": "Study Aura DeepSeek Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "deepseek-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "deepseek-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "flashcards-deepseek-succeeded",
      "name": "Flashcards DeepSeek Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? \"\";\n\nconst cleaned = String(raw)\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet deck;\nlet fallback = false;\n\ntry {\n  deck = JSON.parse(cleaned);\n\n  if (!deck.title || !deck.cards || !Array.isArray(deck.cards)) {\n    throw new Error(\"Invalid deck format\");\n  }\n} catch (error) {\n  fallback = true;\n  deck = {\n    title: \"Study Aura Flashcards\",\n    cards: [\n      {\n        type: \"question\",\n        prompt: \"What is the best first step when reviewing a new topic?\",\n        answer: \"Break it into smaller parts\",\n        hint: \"Think of making the topic easier to handle.\",\n        explanation: \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n      }\n    ]\n  };\n}\n\nconst normalizedCards = deck.cards.map((card) => ({\n  type: card.type === \"fill_blank\" ? \"fill_blank\" : \"question\",\n  prompt: String(card.prompt || \"Untitled flashcard\"),\n  answer: String(card.answer || \"No answer provided\"),\n  hint: String(card.hint || \"Think about the key idea.\"),\n  explanation: String(card.explanation || \"Review the related lesson content.\")\n}));\n\nreturn [\n  {\n    json: {\n      deck: {\n        title: String(deck.title || \"Study Aura Flashcards\"),\n        cards: normalizedCards\n      },\n      fallback,\n      provider: $json.provider || \"deepseek\"\n    }\n  }\n];"
      },
      "id": "clean-deepseek-flashcards-json",
      "name": "Clean DeepSeek Flashcards JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": $json.deck,\n    \"provider\": \"deepseek\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-deepseek-flashcards-response",
      "name": "Return DeepSeek Flashcards Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1712,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"deck\": {\n      \"title\": \"Study Aura Flashcards\",\n      \"cards\": [\n        {\n          \"type\": \"question\",\n          \"prompt\": \"What is the best first step when reviewing a new topic?\",\n          \"answer\": \"Break it into smaller parts\",\n          \"hint\": \"Think of making the topic easier to handle.\",\n          \"explanation\": \"Breaking a topic into smaller parts helps you understand and remember it more easily.\"\n        },\n        {\n          \"type\": \"fill_blank\",\n          \"prompt\": \"Reviewing key terms helps strengthen your ________.\",\n          \"answer\": \"recall\",\n          \"hint\": \"It means remembering information later.\",\n          \"explanation\": \"Recall improves when you repeatedly practice retrieving important information.\"\n        }\n      ]\n    },\n    \"provider\": \"static-fallback\",\n    \"fallback\": true\n  }\n}}",
        "options": {}
      },
      "id": "return-static-flashcards-fallback",
      "name": "Return Static Flashcards Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1712,
        1216
      ]
    }
  ],
  "connections": {
    "Flashcards Agent Webhook": {
      "main": [
        [
          {
            "node": "Prepare Flashcards Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Flashcards Agent Prompt": {
      "main": [
        [
          {
            "node": "Flashcards Gemini AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Flashcards Gemini AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Gemini AI Agent": {
      "main": [
        [
          {
            "node": "Flashcards Gemini Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Gemini Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Gemini Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flashcards Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Gemini Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return Gemini Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Flashcards Groq AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Groq AI Agent": {
      "main": [
        [
          {
            "node": "Flashcards Groq Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Groq Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Groq Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flashcards OpenRouter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Groq Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return Groq Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Flashcards OpenRouter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards OpenRouter AI Agent": {
      "main": [
        [
          {
            "node": "Flashcards OpenRouter Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards OpenRouter Succeeded?": {
      "main": [
        [
          {
            "node": "Clean OpenRouter Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flashcards Mistral AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean OpenRouter Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return OpenRouter Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Flashcards Mistral AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Mistral AI Agent": {
      "main": [
        [
          {
            "node": "Flashcards Mistral Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards Mistral Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Mistral Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flashcards DeepSeek AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Mistral Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return Mistral Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Flashcards DeepSeek AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards DeepSeek AI Agent": {
      "main": [
        [
          {
            "node": "Flashcards DeepSeek Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flashcards DeepSeek Succeeded?": {
      "main": [
        [
          {
            "node": "Clean DeepSeek Flashcards JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Static Flashcards Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean DeepSeek Flashcards JSON": {
      "main": [
        [
          {
            "node": "Return DeepSeek Flashcards Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}