n8n-workflows/Study Aura - Tables Pipeline AI Agent.json
{
  "name": "Study Aura - Tables Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-tables",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tables-agent-webhook",
      "name": "Tables Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3600,
        800
      ],
      "webhookId": "study-aura-tables"
    },
    {
      "parameters": {
        "jsCode": "function asText(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(asText).filter(Boolean).join(\"\\n\");\n  if (typeof value === \"object\") {\n    return asText(value.summary || value.value || value.content || value.text || value.description || JSON.stringify(value));\n  }\n  return \"\";\n}\n\nfunction normalizeTableType(value) {\n  const normalized = asText(value).toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\");\n  if (normalized === \"concept_comparison\" || normalized === \"comparison\" || normalized === \"compare\") return \"concept_comparison\";\n  if (normalized === \"term_definition\" || normalized === \"definition\" || normalized === \"terms\") return \"term_definition\";\n  if (normalized === \"process_step\" || normalized === \"process_steps\" || normalized === \"process\" || normalized === \"steps\") return \"process_step\";\n  if (normalized === \"cause_effect\" || normalized === \"cause_and_effect\" || normalized === \"cause_effect_table\") return \"cause_effect\";\n  return \"term_definition\";\n}\n\nfunction getTableProfile(tableType) {\n  if (tableType === \"concept_comparison\") {\n    return {\n      label: \"Concept Comparison\",\n      purpose: \"Compare related concepts, categories, ideas, groups, or characteristics from the source.\",\n      columns: [\n        { key: \"concept\", label: \"Concept\" },\n        { key: \"description\", label: \"Description\" },\n        { key: \"similarity\", label: \"Similarity\" },\n        { key: \"difference\", label: \"Difference\" }\n      ],\n      sampleRow: {\n        concept: \"Example concept\",\n        description: \"What this concept means in the source\",\n        similarity: \"How it is similar to another related concept\",\n        difference: \"What makes it different or unique\"\n      },\n      rules: [\n        \"Each row must compare one concept against another related idea.\",\n        \"The Similarity column must explain what it shares with another concept.\",\n        \"The Difference column must explain what makes it distinct.\",\n        \"Do not use definition-style rows only.\"\n      ]\n    };\n  }\n\n  if (tableType === \"process_step\") {\n    return {\n      label: \"Process Step\",\n      purpose: \"Explain a sequence, workflow, timeline, development, life cycle, or step-by-step process from the source.\",\n      columns: [\n        { key: \"step\", label: \"Step\" },\n        { key: \"stage\", label: \"Stage / Action\" },\n        { key: \"explanation\", label: \"Explanation\" },\n        { key: \"result\", label: \"Result\" }\n      ],\n      sampleRow: {\n        step: \"1\",\n        stage: \"First stage or action\",\n        explanation: \"What happens during this step\",\n        result: \"What this step leads to\"\n      },\n      rules: [\n        \"Rows must be ordered logically from first to last.\",\n        \"The Step column must use numbers like 1, 2, 3.\",\n        \"The Stage / Action column must name the stage or action.\",\n        \"The Result column must explain the outcome of the step.\"\n      ]\n    };\n  }\n\n  if (tableType === \"cause_effect\") {\n    return {\n      label: \"Cause and Effect\",\n      purpose: \"Show causes, effects, reasons, consequences, impacts, or relationships from the source.\",\n      columns: [\n        { key: \"cause\", label: \"Cause\" },\n        { key: \"effect\", label: \"Effect\" },\n        { key: \"explanation\", label: \"Explanation\" },\n        { key: \"evidence\", label: \"Example / Evidence\" }\n      ],\n      sampleRow: {\n        cause: \"Reason or condition from the source\",\n        effect: \"Result or consequence\",\n        explanation: \"Why the cause leads to the effect\",\n        evidence: \"A supporting detail or example from the source\"\n      },\n      rules: [\n        \"Each row must show a clear cause-and-effect relationship.\",\n        \"The Cause column must contain the reason or condition.\",\n        \"The Effect column must contain the result or consequence.\",\n        \"Do not use simple vocabulary definitions.\"\n      ]\n    };\n  }\n\n  return {\n    label: \"Term Definition\",\n    purpose: \"Define key terms, concepts, vocabulary, or important ideas from the source.\",\n    columns: [\n      { key: \"concept\", label: \"Concept\" },\n      { key: \"meaning\", label: \"Meaning\" },\n      { key: \"example\", label: \"Example\" }\n    ],\n    sampleRow: {\n      concept: \"Important term\",\n      meaning: \"Simple explanation of the term\",\n      example: \"Concrete example or related detail from the source\"\n    },\n    rules: [\n      \"Each row must define one important term or concept.\",\n      \"The Meaning column must explain the concept clearly.\",\n      \"The Example column must give a concrete example or source detail.\"\n    ]\n  };\n}\n\nconst body = $json.body || $json || {};\nconst topic = asText(body.topic) || \"General Study\";\nconst difficulty = asText(body.difficulty || body.options?.difficulty) || \"easy\";\nconst tableType = normalizeTableType(body.tableType || body.options?.tableType);\nconst rowCountRaw = Number(body.rowCount || body.options?.rowCount || body.rows || 5);\nconst rowCount = Number.isFinite(rowCountRaw) ? Math.min(Math.max(Math.round(rowCountRaw), 3), 12) : 5;\nconst selectedSources = Array.isArray(body.selectedSources) ? body.selectedSources : [];\nconst profile = getTableProfile(tableType);\n\nconst selectedSourceText = selectedSources.length > 0\n  ? selectedSources.map((source, index) => {\n      const title = asText(source.title) || `Source ${index + 1}`;\n      const type = asText(source.type) || \"source\";\n      const content = asText(source.summary || source.value || source.content || source.text || source.description) || \"No content provided.\";\n      return `${index + 1}. ${title} [${type}]\\n${content}`;\n    }).join(\"\\n\\n\")\n  : \"No selected sources were provided. Use the topic only.\";\n\nconst prompt = [\n  \"You are Study Aura, an educational table generator.\",\n  \"Create a structured study table from the selected source context.\",\n  \"\",\n  `Topic: ${topic}`,\n  `Difficulty: ${difficulty}`,\n  `Table type: ${profile.label}`,\n  `Table purpose: ${profile.purpose}`,\n  `Required row count: ${rowCount}`,\n  \"\",\n  \"Selected source context:\",\n  selectedSourceText,\n  \"\",\n  \"Return ONLY valid JSON. No markdown. No code fences. No explanations outside JSON.\",\n  \"\",\n  \"Use this exact JSON shape:\",\n  JSON.stringify({ title: \"Short table title\", description: \"One sentence table description\", columns: profile.columns, rows: [profile.sampleRow] }, null, 2),\n  \"\",\n  \"Strict rules:\",\n  `- Create exactly ${rowCount} rows.`,\n  \"- Use exactly the columns shown in the JSON shape.\",\n  \"- Every row must use the exact column keys shown in the JSON shape.\",\n  \"- Never return empty strings.\",\n  \"- Never return blank rows.\",\n  \"- Never return placeholder values.\",\n  \"- Prioritize the selected source context.\",\n  \"- Keep cell values concise and student-friendly.\",\n  \"- If the source is limited, infer helpful educational content from the topic.\",\n  ...profile.rules.map((rule) => `- ${rule}`),\n  \"- Do not include markdown, comments, or text outside JSON.\"\n].join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      ...body,\n      topic,\n      difficulty,\n      tableType,\n      rowCount,\n      selectedSources,\n      selectedSourceText,\n      tableProfile: profile,\n      expectedColumns: profile.columns,\n      prompt,\n      moduleId: asText(body.moduleId) || \"demo-module\",\n      userId: asText(body.userId) || \"demo-user\"\n    }\n  }\n];"
      },
      "id": "build-tables-agent-prompt",
      "name": "Build Tables Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3320,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === \"object\") return value;\n  if (typeof value !== \"string\") return null;\n  let text = value.trim();\n  text = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```$/i, \"\").trim();\n  const firstBrace = text.indexOf(\"{\");\n  const lastBrace = text.lastIndexOf(\"}\");\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) text = text.slice(firstBrace, lastBrace + 1);\n  try { return JSON.parse(text); } catch { return null; }\n}\nfunction stringifyCell(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(stringifyCell).filter(Boolean).join(\", \");\n  if (typeof value === \"object\") {\n    const keys = [\"text\", \"value\", \"label\", \"content\", \"description\", \"meaning\", \"example\", \"answer\"];\n    for (const key of keys) {\n      const cleaned = stringifyCell(value[key]);\n      if (cleaned) return cleaned;\n    }\n    try { return JSON.stringify(value); } catch { return \"\"; }\n  }\n  return \"\";\n}\nfunction normalizeKey(value) { return String(value || \"\").toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\"); }\nfunction titleCase(value) { return String(value || \"\").replace(/_/g, \" \").replace(/\\b\\w/g, (letter) => letter.toUpperCase()); }\nfunction normalizeColumns(columns, expectedColumns) {\n  if (Array.isArray(columns) && columns.length > 0) {\n    const cleaned = columns.slice(0, 5).map((column, index) => {\n      if (typeof column === \"string\") {\n        const key = normalizeKey(column) || `column_${index + 1}`;\n        return { key, label: titleCase(column) };\n      }\n      if (column && typeof column === \"object\") {\n        const rawKey = column.key || column.id || column.name || column.label;\n        const key = normalizeKey(rawKey) || `column_${index + 1}`;\n        const label = String(column.label || column.name || rawKey || `Column ${index + 1}`).trim();\n        return { key, label: label || `Column ${index + 1}` };\n      }\n      return null;\n    }).filter(Boolean);\n    if (cleaned.length >= 3) return cleaned;\n  }\n  if (Array.isArray(expectedColumns) && expectedColumns.length > 0) return expectedColumns;\n  return [ { key: \"concept\", label: \"Concept\" }, { key: \"meaning\", label: \"Meaning\" }, { key: \"example\", label: \"Example\" } ];\n}\nfunction getValueByColumn(row, column, columnIndex) {\n  if (!row || typeof row !== \"object\") return \"\";\n  const directValue = stringifyCell(row[column.key]);\n  if (directValue) return directValue;\n  const labelValue = stringifyCell(row[column.label]);\n  if (labelValue) return labelValue;\n  const normalizedColumnKey = normalizeKey(column.key);\n  const normalizedColumnLabel = normalizeKey(column.label);\n  for (const [rowKey, rowValue] of Object.entries(row)) {\n    const normalizedRowKey = normalizeKey(rowKey);\n    if (normalizedRowKey === normalizedColumnKey || normalizedRowKey === normalizedColumnLabel) {\n      const matchedValue = stringifyCell(rowValue);\n      if (matchedValue) return matchedValue;\n    }\n  }\n  return stringifyCell(Object.values(row)[columnIndex]);\n}\nfunction normalizeRows(rows, columns) {\n  if (!Array.isArray(rows)) return [];\n  return rows.filter((row) => row && typeof row === \"object\" && !Array.isArray(row)).map((row) => {\n    const cleanedRow = {};\n    columns.forEach((column, columnIndex) => cleanedRow[column.key] = getValueByColumn(row, column, columnIndex));\n    return cleanedRow;\n  }).filter((row) => Object.values(row).some((value) => stringifyCell(value)));\n}\nfunction splitSentences(text) {\n  return String(text || \"\").replace(/\\[[0-9]+\\]/g, \"\").replace(/\\s+/g, \" \").split(/(?<=[.!?])\\s+/).map((sentence) => sentence.trim()).filter((sentence) => sentence.length > 35);\n}\nfunction buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic) {\n  const sentences = splitSentences(sourceText);\n  const rows = [];\n  const usableSentences = sentences.length > 0 ? sentences : [`${topic} is an important study topic.`];\n  for (let index = 0; rows.length < requestedRows; index++) {\n    const sentence = usableSentences[index % usableSentences.length];\n    const row = {};\n    columns.forEach((column, columnIndex) => {\n      const key = column.key;\n      if (key === \"step\") row[key] = String(rows.length + 1);\n      else if (key === \"stage\") row[key] = `Stage ${rows.length + 1}`;\n      else if (key === \"result\") row[key] = sentence;\n      else if (key === \"cause\") row[key] = sentence;\n      else if (key === \"effect\") row[key] = sentence;\n      else if (key === \"evidence\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (key === \"similarity\") row[key] = \"Related to other key ideas from the same topic.\";\n      else if (key === \"difference\") row[key] = sentence;\n      else if (key === \"description\" || key === \"meaning\" || key === \"explanation\") row[key] = sentence;\n      else if (key === \"example\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (columnIndex === 0) row[key] = `Key Idea ${rows.length + 1}`;\n      else row[key] = sentence;\n    });\n    rows.push(row);\n  }\n  return rows;\n}\nfunction unwrapTable(parsedOutput) {\n  if (!parsedOutput || typeof parsedOutput !== \"object\") return null;\n  if (parsedOutput.table && typeof parsedOutput.table === \"object\") return parsedOutput.table;\n  if (parsedOutput.result && typeof parsedOutput.result === \"object\" && parsedOutput.result.table && typeof parsedOutput.result.table === \"object\") return parsedOutput.result.table;\n  if (Array.isArray(parsedOutput.rows) || Array.isArray(parsedOutput.columns)) return parsedOutput;\n  return null;\n}\nconst input = $input.first().json;\nconst raw = input.output || input.text || input.response || input.result || input.data || input.message || input.content || \"\";\nconst parsedOutput = safeJsonParse(raw);\nconst tableCandidate = unwrapTable(parsedOutput) || {};\nconst topic = stringifyCell(input.topic) || \"Study Topic\";\nconst requestedRows = Number(input.rowCount || 5) || 5;\nconst sourceText = stringifyCell(input.selectedSourceText) || stringifyCell(input.selectedSources);\nconst columns = normalizeColumns(tableCandidate.columns, input.expectedColumns);\nlet rows = normalizeRows(tableCandidate.rows, columns);\nlet usedSourceFallback = false;\nif (rows.length === 0) {\n  rows = buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic);\n  usedSourceFallback = true;\n}\nconst finalTable = {\n  title: stringifyCell(tableCandidate.title) || `${topic} Study Table`,\n  description: stringifyCell(tableCandidate.description) || `A study table generated from the selected source about ${topic}.`,\n  columns,\n  rows: rows.slice(0, requestedRows)\n};\nreturn [{ json: { table: finalTable, fallback: Boolean(usedSourceFallback), provider: \"gemini\" } }];"
      },
      "id": "clean-gemini-tables-json",
      "name": "Clean Gemini Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === \"object\") return value;\n  if (typeof value !== \"string\") return null;\n  let text = value.trim();\n  text = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```$/i, \"\").trim();\n  const firstBrace = text.indexOf(\"{\");\n  const lastBrace = text.lastIndexOf(\"}\");\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) text = text.slice(firstBrace, lastBrace + 1);\n  try { return JSON.parse(text); } catch { return null; }\n}\nfunction stringifyCell(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(stringifyCell).filter(Boolean).join(\", \");\n  if (typeof value === \"object\") {\n    const keys = [\"text\", \"value\", \"label\", \"content\", \"description\", \"meaning\", \"example\", \"answer\"];\n    for (const key of keys) {\n      const cleaned = stringifyCell(value[key]);\n      if (cleaned) return cleaned;\n    }\n    try { return JSON.stringify(value); } catch { return \"\"; }\n  }\n  return \"\";\n}\nfunction normalizeKey(value) { return String(value || \"\").toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\"); }\nfunction titleCase(value) { return String(value || \"\").replace(/_/g, \" \").replace(/\\b\\w/g, (letter) => letter.toUpperCase()); }\nfunction normalizeColumns(columns, expectedColumns) {\n  if (Array.isArray(columns) && columns.length > 0) {\n    const cleaned = columns.slice(0, 5).map((column, index) => {\n      if (typeof column === \"string\") {\n        const key = normalizeKey(column) || `column_${index + 1}`;\n        return { key, label: titleCase(column) };\n      }\n      if (column && typeof column === \"object\") {\n        const rawKey = column.key || column.id || column.name || column.label;\n        const key = normalizeKey(rawKey) || `column_${index + 1}`;\n        const label = String(column.label || column.name || rawKey || `Column ${index + 1}`).trim();\n        return { key, label: label || `Column ${index + 1}` };\n      }\n      return null;\n    }).filter(Boolean);\n    if (cleaned.length >= 3) return cleaned;\n  }\n  if (Array.isArray(expectedColumns) && expectedColumns.length > 0) return expectedColumns;\n  return [ { key: \"concept\", label: \"Concept\" }, { key: \"meaning\", label: \"Meaning\" }, { key: \"example\", label: \"Example\" } ];\n}\nfunction getValueByColumn(row, column, columnIndex) {\n  if (!row || typeof row !== \"object\") return \"\";\n  const directValue = stringifyCell(row[column.key]);\n  if (directValue) return directValue;\n  const labelValue = stringifyCell(row[column.label]);\n  if (labelValue) return labelValue;\n  const normalizedColumnKey = normalizeKey(column.key);\n  const normalizedColumnLabel = normalizeKey(column.label);\n  for (const [rowKey, rowValue] of Object.entries(row)) {\n    const normalizedRowKey = normalizeKey(rowKey);\n    if (normalizedRowKey === normalizedColumnKey || normalizedRowKey === normalizedColumnLabel) {\n      const matchedValue = stringifyCell(rowValue);\n      if (matchedValue) return matchedValue;\n    }\n  }\n  return stringifyCell(Object.values(row)[columnIndex]);\n}\nfunction normalizeRows(rows, columns) {\n  if (!Array.isArray(rows)) return [];\n  return rows.filter((row) => row && typeof row === \"object\" && !Array.isArray(row)).map((row) => {\n    const cleanedRow = {};\n    columns.forEach((column, columnIndex) => cleanedRow[column.key] = getValueByColumn(row, column, columnIndex));\n    return cleanedRow;\n  }).filter((row) => Object.values(row).some((value) => stringifyCell(value)));\n}\nfunction splitSentences(text) {\n  return String(text || \"\").replace(/\\[[0-9]+\\]/g, \"\").replace(/\\s+/g, \" \").split(/(?<=[.!?])\\s+/).map((sentence) => sentence.trim()).filter((sentence) => sentence.length > 35);\n}\nfunction buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic) {\n  const sentences = splitSentences(sourceText);\n  const rows = [];\n  const usableSentences = sentences.length > 0 ? sentences : [`${topic} is an important study topic.`];\n  for (let index = 0; rows.length < requestedRows; index++) {\n    const sentence = usableSentences[index % usableSentences.length];\n    const row = {};\n    columns.forEach((column, columnIndex) => {\n      const key = column.key;\n      if (key === \"step\") row[key] = String(rows.length + 1);\n      else if (key === \"stage\") row[key] = `Stage ${rows.length + 1}`;\n      else if (key === \"result\") row[key] = sentence;\n      else if (key === \"cause\") row[key] = sentence;\n      else if (key === \"effect\") row[key] = sentence;\n      else if (key === \"evidence\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (key === \"similarity\") row[key] = \"Related to other key ideas from the same topic.\";\n      else if (key === \"difference\") row[key] = sentence;\n      else if (key === \"description\" || key === \"meaning\" || key === \"explanation\") row[key] = sentence;\n      else if (key === \"example\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (columnIndex === 0) row[key] = `Key Idea ${rows.length + 1}`;\n      else row[key] = sentence;\n    });\n    rows.push(row);\n  }\n  return rows;\n}\nfunction unwrapTable(parsedOutput) {\n  if (!parsedOutput || typeof parsedOutput !== \"object\") return null;\n  if (parsedOutput.table && typeof parsedOutput.table === \"object\") return parsedOutput.table;\n  if (parsedOutput.result && typeof parsedOutput.result === \"object\" && parsedOutput.result.table && typeof parsedOutput.result.table === \"object\") return parsedOutput.result.table;\n  if (Array.isArray(parsedOutput.rows) || Array.isArray(parsedOutput.columns)) return parsedOutput;\n  return null;\n}\nconst input = $input.first().json;\nconst raw = input.output || input.text || input.response || input.result || input.data || input.message || input.content || \"\";\nconst parsedOutput = safeJsonParse(raw);\nconst tableCandidate = unwrapTable(parsedOutput) || {};\nconst topic = stringifyCell(input.topic) || \"Study Topic\";\nconst requestedRows = Number(input.rowCount || 5) || 5;\nconst sourceText = stringifyCell(input.selectedSourceText) || stringifyCell(input.selectedSources);\nconst columns = normalizeColumns(tableCandidate.columns, input.expectedColumns);\nlet rows = normalizeRows(tableCandidate.rows, columns);\nlet usedSourceFallback = false;\nif (rows.length === 0) {\n  rows = buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic);\n  usedSourceFallback = true;\n}\nconst finalTable = {\n  title: stringifyCell(tableCandidate.title) || `${topic} Study Table`,\n  description: stringifyCell(tableCandidate.description) || `A study table generated from the selected source about ${topic}.`,\n  columns,\n  rows: rows.slice(0, requestedRows)\n};\nreturn [{ json: { table: finalTable, fallback: true, provider: \"groq\" } }];"
      },
      "id": "clean-groq-tables-json",
      "name": "Clean Groq Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === \"object\") return value;\n  if (typeof value !== \"string\") return null;\n  let text = value.trim();\n  text = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```$/i, \"\").trim();\n  const firstBrace = text.indexOf(\"{\");\n  const lastBrace = text.lastIndexOf(\"}\");\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) text = text.slice(firstBrace, lastBrace + 1);\n  try { return JSON.parse(text); } catch { return null; }\n}\nfunction stringifyCell(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(stringifyCell).filter(Boolean).join(\", \");\n  if (typeof value === \"object\") {\n    const keys = [\"text\", \"value\", \"label\", \"content\", \"description\", \"meaning\", \"example\", \"answer\"];\n    for (const key of keys) {\n      const cleaned = stringifyCell(value[key]);\n      if (cleaned) return cleaned;\n    }\n    try { return JSON.stringify(value); } catch { return \"\"; }\n  }\n  return \"\";\n}\nfunction normalizeKey(value) { return String(value || \"\").toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\"); }\nfunction titleCase(value) { return String(value || \"\").replace(/_/g, \" \").replace(/\\b\\w/g, (letter) => letter.toUpperCase()); }\nfunction normalizeColumns(columns, expectedColumns) {\n  if (Array.isArray(columns) && columns.length > 0) {\n    const cleaned = columns.slice(0, 5).map((column, index) => {\n      if (typeof column === \"string\") {\n        const key = normalizeKey(column) || `column_${index + 1}`;\n        return { key, label: titleCase(column) };\n      }\n      if (column && typeof column === \"object\") {\n        const rawKey = column.key || column.id || column.name || column.label;\n        const key = normalizeKey(rawKey) || `column_${index + 1}`;\n        const label = String(column.label || column.name || rawKey || `Column ${index + 1}`).trim();\n        return { key, label: label || `Column ${index + 1}` };\n      }\n      return null;\n    }).filter(Boolean);\n    if (cleaned.length >= 3) return cleaned;\n  }\n  if (Array.isArray(expectedColumns) && expectedColumns.length > 0) return expectedColumns;\n  return [ { key: \"concept\", label: \"Concept\" }, { key: \"meaning\", label: \"Meaning\" }, { key: \"example\", label: \"Example\" } ];\n}\nfunction getValueByColumn(row, column, columnIndex) {\n  if (!row || typeof row !== \"object\") return \"\";\n  const directValue = stringifyCell(row[column.key]);\n  if (directValue) return directValue;\n  const labelValue = stringifyCell(row[column.label]);\n  if (labelValue) return labelValue;\n  const normalizedColumnKey = normalizeKey(column.key);\n  const normalizedColumnLabel = normalizeKey(column.label);\n  for (const [rowKey, rowValue] of Object.entries(row)) {\n    const normalizedRowKey = normalizeKey(rowKey);\n    if (normalizedRowKey === normalizedColumnKey || normalizedRowKey === normalizedColumnLabel) {\n      const matchedValue = stringifyCell(rowValue);\n      if (matchedValue) return matchedValue;\n    }\n  }\n  return stringifyCell(Object.values(row)[columnIndex]);\n}\nfunction normalizeRows(rows, columns) {\n  if (!Array.isArray(rows)) return [];\n  return rows.filter((row) => row && typeof row === \"object\" && !Array.isArray(row)).map((row) => {\n    const cleanedRow = {};\n    columns.forEach((column, columnIndex) => cleanedRow[column.key] = getValueByColumn(row, column, columnIndex));\n    return cleanedRow;\n  }).filter((row) => Object.values(row).some((value) => stringifyCell(value)));\n}\nfunction splitSentences(text) {\n  return String(text || \"\").replace(/\\[[0-9]+\\]/g, \"\").replace(/\\s+/g, \" \").split(/(?<=[.!?])\\s+/).map((sentence) => sentence.trim()).filter((sentence) => sentence.length > 35);\n}\nfunction buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic) {\n  const sentences = splitSentences(sourceText);\n  const rows = [];\n  const usableSentences = sentences.length > 0 ? sentences : [`${topic} is an important study topic.`];\n  for (let index = 0; rows.length < requestedRows; index++) {\n    const sentence = usableSentences[index % usableSentences.length];\n    const row = {};\n    columns.forEach((column, columnIndex) => {\n      const key = column.key;\n      if (key === \"step\") row[key] = String(rows.length + 1);\n      else if (key === \"stage\") row[key] = `Stage ${rows.length + 1}`;\n      else if (key === \"result\") row[key] = sentence;\n      else if (key === \"cause\") row[key] = sentence;\n      else if (key === \"effect\") row[key] = sentence;\n      else if (key === \"evidence\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (key === \"similarity\") row[key] = \"Related to other key ideas from the same topic.\";\n      else if (key === \"difference\") row[key] = sentence;\n      else if (key === \"description\" || key === \"meaning\" || key === \"explanation\") row[key] = sentence;\n      else if (key === \"example\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (columnIndex === 0) row[key] = `Key Idea ${rows.length + 1}`;\n      else row[key] = sentence;\n    });\n    rows.push(row);\n  }\n  return rows;\n}\nfunction unwrapTable(parsedOutput) {\n  if (!parsedOutput || typeof parsedOutput !== \"object\") return null;\n  if (parsedOutput.table && typeof parsedOutput.table === \"object\") return parsedOutput.table;\n  if (parsedOutput.result && typeof parsedOutput.result === \"object\" && parsedOutput.result.table && typeof parsedOutput.result.table === \"object\") return parsedOutput.result.table;\n  if (Array.isArray(parsedOutput.rows) || Array.isArray(parsedOutput.columns)) return parsedOutput;\n  return null;\n}\nconst input = $input.first().json;\nconst raw = input.output || input.text || input.response || input.result || input.data || input.message || input.content || \"\";\nconst parsedOutput = safeJsonParse(raw);\nconst tableCandidate = unwrapTable(parsedOutput) || {};\nconst topic = stringifyCell(input.topic) || \"Study Topic\";\nconst requestedRows = Number(input.rowCount || 5) || 5;\nconst sourceText = stringifyCell(input.selectedSourceText) || stringifyCell(input.selectedSources);\nconst columns = normalizeColumns(tableCandidate.columns, input.expectedColumns);\nlet rows = normalizeRows(tableCandidate.rows, columns);\nlet usedSourceFallback = false;\nif (rows.length === 0) {\n  rows = buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic);\n  usedSourceFallback = true;\n}\nconst finalTable = {\n  title: stringifyCell(tableCandidate.title) || `${topic} Study Table`,\n  description: stringifyCell(tableCandidate.description) || `A study table generated from the selected source about ${topic}.`,\n  columns,\n  rows: rows.slice(0, requestedRows)\n};\nreturn [{ json: { table: finalTable, fallback: true, provider: \"openrouter\" } }];"
      },
      "id": "clean-openrouter-tables-json",
      "name": "Clean OpenRouter Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === \"object\") return value;\n  if (typeof value !== \"string\") return null;\n  let text = value.trim();\n  text = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```$/i, \"\").trim();\n  const firstBrace = text.indexOf(\"{\");\n  const lastBrace = text.lastIndexOf(\"}\");\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) text = text.slice(firstBrace, lastBrace + 1);\n  try { return JSON.parse(text); } catch { return null; }\n}\nfunction stringifyCell(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(stringifyCell).filter(Boolean).join(\", \");\n  if (typeof value === \"object\") {\n    const keys = [\"text\", \"value\", \"label\", \"content\", \"description\", \"meaning\", \"example\", \"answer\"];\n    for (const key of keys) {\n      const cleaned = stringifyCell(value[key]);\n      if (cleaned) return cleaned;\n    }\n    try { return JSON.stringify(value); } catch { return \"\"; }\n  }\n  return \"\";\n}\nfunction normalizeKey(value) { return String(value || \"\").toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\"); }\nfunction titleCase(value) { return String(value || \"\").replace(/_/g, \" \").replace(/\\b\\w/g, (letter) => letter.toUpperCase()); }\nfunction normalizeColumns(columns, expectedColumns) {\n  if (Array.isArray(columns) && columns.length > 0) {\n    const cleaned = columns.slice(0, 5).map((column, index) => {\n      if (typeof column === \"string\") {\n        const key = normalizeKey(column) || `column_${index + 1}`;\n        return { key, label: titleCase(column) };\n      }\n      if (column && typeof column === \"object\") {\n        const rawKey = column.key || column.id || column.name || column.label;\n        const key = normalizeKey(rawKey) || `column_${index + 1}`;\n        const label = String(column.label || column.name || rawKey || `Column ${index + 1}`).trim();\n        return { key, label: label || `Column ${index + 1}` };\n      }\n      return null;\n    }).filter(Boolean);\n    if (cleaned.length >= 3) return cleaned;\n  }\n  if (Array.isArray(expectedColumns) && expectedColumns.length > 0) return expectedColumns;\n  return [ { key: \"concept\", label: \"Concept\" }, { key: \"meaning\", label: \"Meaning\" }, { key: \"example\", label: \"Example\" } ];\n}\nfunction getValueByColumn(row, column, columnIndex) {\n  if (!row || typeof row !== \"object\") return \"\";\n  const directValue = stringifyCell(row[column.key]);\n  if (directValue) return directValue;\n  const labelValue = stringifyCell(row[column.label]);\n  if (labelValue) return labelValue;\n  const normalizedColumnKey = normalizeKey(column.key);\n  const normalizedColumnLabel = normalizeKey(column.label);\n  for (const [rowKey, rowValue] of Object.entries(row)) {\n    const normalizedRowKey = normalizeKey(rowKey);\n    if (normalizedRowKey === normalizedColumnKey || normalizedRowKey === normalizedColumnLabel) {\n      const matchedValue = stringifyCell(rowValue);\n      if (matchedValue) return matchedValue;\n    }\n  }\n  return stringifyCell(Object.values(row)[columnIndex]);\n}\nfunction normalizeRows(rows, columns) {\n  if (!Array.isArray(rows)) return [];\n  return rows.filter((row) => row && typeof row === \"object\" && !Array.isArray(row)).map((row) => {\n    const cleanedRow = {};\n    columns.forEach((column, columnIndex) => cleanedRow[column.key] = getValueByColumn(row, column, columnIndex));\n    return cleanedRow;\n  }).filter((row) => Object.values(row).some((value) => stringifyCell(value)));\n}\nfunction splitSentences(text) {\n  return String(text || \"\").replace(/\\[[0-9]+\\]/g, \"\").replace(/\\s+/g, \" \").split(/(?<=[.!?])\\s+/).map((sentence) => sentence.trim()).filter((sentence) => sentence.length > 35);\n}\nfunction buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic) {\n  const sentences = splitSentences(sourceText);\n  const rows = [];\n  const usableSentences = sentences.length > 0 ? sentences : [`${topic} is an important study topic.`];\n  for (let index = 0; rows.length < requestedRows; index++) {\n    const sentence = usableSentences[index % usableSentences.length];\n    const row = {};\n    columns.forEach((column, columnIndex) => {\n      const key = column.key;\n      if (key === \"step\") row[key] = String(rows.length + 1);\n      else if (key === \"stage\") row[key] = `Stage ${rows.length + 1}`;\n      else if (key === \"result\") row[key] = sentence;\n      else if (key === \"cause\") row[key] = sentence;\n      else if (key === \"effect\") row[key] = sentence;\n      else if (key === \"evidence\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (key === \"similarity\") row[key] = \"Related to other key ideas from the same topic.\";\n      else if (key === \"difference\") row[key] = sentence;\n      else if (key === \"description\" || key === \"meaning\" || key === \"explanation\") row[key] = sentence;\n      else if (key === \"example\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (columnIndex === 0) row[key] = `Key Idea ${rows.length + 1}`;\n      else row[key] = sentence;\n    });\n    rows.push(row);\n  }\n  return rows;\n}\nfunction unwrapTable(parsedOutput) {\n  if (!parsedOutput || typeof parsedOutput !== \"object\") return null;\n  if (parsedOutput.table && typeof parsedOutput.table === \"object\") return parsedOutput.table;\n  if (parsedOutput.result && typeof parsedOutput.result === \"object\" && parsedOutput.result.table && typeof parsedOutput.result.table === \"object\") return parsedOutput.result.table;\n  if (Array.isArray(parsedOutput.rows) || Array.isArray(parsedOutput.columns)) return parsedOutput;\n  return null;\n}\nconst input = $input.first().json;\nconst raw = input.output || input.text || input.response || input.result || input.data || input.message || input.content || \"\";\nconst parsedOutput = safeJsonParse(raw);\nconst tableCandidate = unwrapTable(parsedOutput) || {};\nconst topic = stringifyCell(input.topic) || \"Study Topic\";\nconst requestedRows = Number(input.rowCount || 5) || 5;\nconst sourceText = stringifyCell(input.selectedSourceText) || stringifyCell(input.selectedSources);\nconst columns = normalizeColumns(tableCandidate.columns, input.expectedColumns);\nlet rows = normalizeRows(tableCandidate.rows, columns);\nlet usedSourceFallback = false;\nif (rows.length === 0) {\n  rows = buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic);\n  usedSourceFallback = true;\n}\nconst finalTable = {\n  title: stringifyCell(tableCandidate.title) || `${topic} Study Table`,\n  description: stringifyCell(tableCandidate.description) || `A study table generated from the selected source about ${topic}.`,\n  columns,\n  rows: rows.slice(0, requestedRows)\n};\nreturn [{ json: { table: finalTable, fallback: true, provider: \"mistral\" } }];"
      },
      "id": "clean-mistral-tables-json",
      "name": "Clean Mistral Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeJsonParse(value) {\n  if (value === null || value === undefined) return null;\n  if (typeof value === \"object\") return value;\n  if (typeof value !== \"string\") return null;\n  let text = value.trim();\n  text = text.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/```$/i, \"\").trim();\n  const firstBrace = text.indexOf(\"{\");\n  const lastBrace = text.lastIndexOf(\"}\");\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) text = text.slice(firstBrace, lastBrace + 1);\n  try { return JSON.parse(text); } catch { return null; }\n}\nfunction stringifyCell(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value.trim();\n  if (typeof value === \"number\" || typeof value === \"boolean\") return String(value);\n  if (Array.isArray(value)) return value.map(stringifyCell).filter(Boolean).join(\", \");\n  if (typeof value === \"object\") {\n    const keys = [\"text\", \"value\", \"label\", \"content\", \"description\", \"meaning\", \"example\", \"answer\"];\n    for (const key of keys) {\n      const cleaned = stringifyCell(value[key]);\n      if (cleaned) return cleaned;\n    }\n    try { return JSON.stringify(value); } catch { return \"\"; }\n  }\n  return \"\";\n}\nfunction normalizeKey(value) { return String(value || \"\").toLowerCase().trim().replace(/[^a-z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\"); }\nfunction titleCase(value) { return String(value || \"\").replace(/_/g, \" \").replace(/\\b\\w/g, (letter) => letter.toUpperCase()); }\nfunction normalizeColumns(columns, expectedColumns) {\n  if (Array.isArray(columns) && columns.length > 0) {\n    const cleaned = columns.slice(0, 5).map((column, index) => {\n      if (typeof column === \"string\") {\n        const key = normalizeKey(column) || `column_${index + 1}`;\n        return { key, label: titleCase(column) };\n      }\n      if (column && typeof column === \"object\") {\n        const rawKey = column.key || column.id || column.name || column.label;\n        const key = normalizeKey(rawKey) || `column_${index + 1}`;\n        const label = String(column.label || column.name || rawKey || `Column ${index + 1}`).trim();\n        return { key, label: label || `Column ${index + 1}` };\n      }\n      return null;\n    }).filter(Boolean);\n    if (cleaned.length >= 3) return cleaned;\n  }\n  if (Array.isArray(expectedColumns) && expectedColumns.length > 0) return expectedColumns;\n  return [ { key: \"concept\", label: \"Concept\" }, { key: \"meaning\", label: \"Meaning\" }, { key: \"example\", label: \"Example\" } ];\n}\nfunction getValueByColumn(row, column, columnIndex) {\n  if (!row || typeof row !== \"object\") return \"\";\n  const directValue = stringifyCell(row[column.key]);\n  if (directValue) return directValue;\n  const labelValue = stringifyCell(row[column.label]);\n  if (labelValue) return labelValue;\n  const normalizedColumnKey = normalizeKey(column.key);\n  const normalizedColumnLabel = normalizeKey(column.label);\n  for (const [rowKey, rowValue] of Object.entries(row)) {\n    const normalizedRowKey = normalizeKey(rowKey);\n    if (normalizedRowKey === normalizedColumnKey || normalizedRowKey === normalizedColumnLabel) {\n      const matchedValue = stringifyCell(rowValue);\n      if (matchedValue) return matchedValue;\n    }\n  }\n  return stringifyCell(Object.values(row)[columnIndex]);\n}\nfunction normalizeRows(rows, columns) {\n  if (!Array.isArray(rows)) return [];\n  return rows.filter((row) => row && typeof row === \"object\" && !Array.isArray(row)).map((row) => {\n    const cleanedRow = {};\n    columns.forEach((column, columnIndex) => cleanedRow[column.key] = getValueByColumn(row, column, columnIndex));\n    return cleanedRow;\n  }).filter((row) => Object.values(row).some((value) => stringifyCell(value)));\n}\nfunction splitSentences(text) {\n  return String(text || \"\").replace(/\\[[0-9]+\\]/g, \"\").replace(/\\s+/g, \" \").split(/(?<=[.!?])\\s+/).map((sentence) => sentence.trim()).filter((sentence) => sentence.length > 35);\n}\nfunction buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic) {\n  const sentences = splitSentences(sourceText);\n  const rows = [];\n  const usableSentences = sentences.length > 0 ? sentences : [`${topic} is an important study topic.`];\n  for (let index = 0; rows.length < requestedRows; index++) {\n    const sentence = usableSentences[index % usableSentences.length];\n    const row = {};\n    columns.forEach((column, columnIndex) => {\n      const key = column.key;\n      if (key === \"step\") row[key] = String(rows.length + 1);\n      else if (key === \"stage\") row[key] = `Stage ${rows.length + 1}`;\n      else if (key === \"result\") row[key] = sentence;\n      else if (key === \"cause\") row[key] = sentence;\n      else if (key === \"effect\") row[key] = sentence;\n      else if (key === \"evidence\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (key === \"similarity\") row[key] = \"Related to other key ideas from the same topic.\";\n      else if (key === \"difference\") row[key] = sentence;\n      else if (key === \"description\" || key === \"meaning\" || key === \"explanation\") row[key] = sentence;\n      else if (key === \"example\") row[key] = sentence.length > 140 ? `${sentence.slice(0, 137).trim()}...` : sentence;\n      else if (columnIndex === 0) row[key] = `Key Idea ${rows.length + 1}`;\n      else row[key] = sentence;\n    });\n    rows.push(row);\n  }\n  return rows;\n}\nfunction unwrapTable(parsedOutput) {\n  if (!parsedOutput || typeof parsedOutput !== \"object\") return null;\n  if (parsedOutput.table && typeof parsedOutput.table === \"object\") return parsedOutput.table;\n  if (parsedOutput.result && typeof parsedOutput.result === \"object\" && parsedOutput.result.table && typeof parsedOutput.result.table === \"object\") return parsedOutput.result.table;\n  if (Array.isArray(parsedOutput.rows) || Array.isArray(parsedOutput.columns)) return parsedOutput;\n  return null;\n}\nconst input = $input.first().json;\nconst raw = input.output || input.text || input.response || input.result || input.data || input.message || input.content || \"\";\nconst parsedOutput = safeJsonParse(raw);\nconst tableCandidate = unwrapTable(parsedOutput) || {};\nconst topic = stringifyCell(input.topic) || \"Study Topic\";\nconst requestedRows = Number(input.rowCount || 5) || 5;\nconst sourceText = stringifyCell(input.selectedSourceText) || stringifyCell(input.selectedSources);\nconst columns = normalizeColumns(tableCandidate.columns, input.expectedColumns);\nlet rows = normalizeRows(tableCandidate.rows, columns);\nlet usedSourceFallback = false;\nif (rows.length === 0) {\n  rows = buildFallbackRowsFromSource(sourceText, columns, requestedRows, topic);\n  usedSourceFallback = true;\n}\nconst finalTable = {\n  title: stringifyCell(tableCandidate.title) || `${topic} Study Table`,\n  description: stringifyCell(tableCandidate.description) || `A study table generated from the selected source about ${topic}.`,\n  columns,\n  rows: rows.slice(0, requestedRows)\n};\nreturn [{ json: { table: finalTable, fallback: true, provider: \"deepseek\" } }];"
      },
      "id": "clean-deepseek-tables-json",
      "name": "Clean DeepSeek Tables JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, comments, or explanations outside JSON."
        }
      },
      "id": "tables-gemini-ai-agent",
      "name": "Tables Gemini AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3040,
        440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.35,
          "maxOutputTokens": 2200
        }
      },
      "id": "tables-gemini-chat-model",
      "name": "Tables Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3040,
        660
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_GEMINI_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "gemini-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "gemini-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-gemini-succeeded",
      "name": "Tables Gemini Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2720,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": $json.table, \"provider\": \"gemini\", \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "return-gemini-tables-response",
      "name": "Return Gemini Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2120,
        360
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Build Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, comments, or explanations outside JSON."
        }
      },
      "id": "tables-groq-ai-agent",
      "name": "Tables Groq AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2400,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.35
        }
      },
      "id": "tables-groq-chat-model",
      "name": "Tables Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2400,
        860
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_GROQ_CREDENTIAL_ID",
          "name": "Study Aura Groq Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "groq-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "groq-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-groq-succeeded",
      "name": "Tables Groq Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2080,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": $json.table, \"provider\": \"groq\", \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "return-groq-tables-response",
      "name": "Return Groq Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1480,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Build Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, comments, or explanations outside JSON."
        }
      },
      "id": "tables-openrouter-ai-agent",
      "name": "Tables OpenRouter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1760,
        840
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder:free",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-openrouter-chat-model",
      "name": "Tables OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1760,
        1060
      ],
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "Study Aura OpenRouter Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "openrouter-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "openrouter-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-openrouter-succeeded",
      "name": "Tables OpenRouter Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        840
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": $json.table, \"provider\": \"openrouter\", \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "return-openrouter-tables-response",
      "name": "Return OpenRouter Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -840,
        760
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Build Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, comments, or explanations outside JSON."
        }
      },
      "id": "tables-mistral-ai-agent",
      "name": "Tables Mistral AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1120,
        1040
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-mistral-chat-model",
      "name": "Tables Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1120,
        1260
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "REPLACE_WITH_MISTRAL_CREDENTIAL_ID",
          "name": "Study Aura Mistral Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "mistral-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "mistral-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-mistral-succeeded",
      "name": "Tables Mistral Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        1040
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": $json.table, \"provider\": \"mistral\", \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "return-mistral-tables-response",
      "name": "Return Mistral Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$node[\"Build Tables Agent Prompt\"].json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura. Return only valid JSON. Do not include markdown, code fences, comments, or explanations outside JSON."
        }
      },
      "id": "tables-deepseek-ai-agent",
      "name": "Tables DeepSeek AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -480,
        1240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "temperature": 0.35,
          "maxTokens": 2200
        }
      },
      "id": "tables-deepseek-chat-model",
      "name": "Tables DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -480,
        1460
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "REPLACE_WITH_DEEPSEEK_CREDENTIAL_ID",
          "name": "Study Aura DeepSeek Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "deepseek-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "deepseek-output-not-empty",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tables-deepseek-succeeded",
      "name": "Tables DeepSeek Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        1240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": $json.table, \"provider\": \"deepseek\", \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "return-deepseek-tables-response",
      "name": "Return DeepSeek Tables Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        1160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"table\": { \"title\": \"Study Aura Table\", \"description\": \"A quick fallback table for organizing a study topic.\", \"columns\": [ { \"key\": \"concept\", \"label\": \"Concept\" }, { \"key\": \"meaning\", \"label\": \"Meaning\" }, { \"key\": \"example\", \"label\": \"Example\" } ], \"rows\": [ { \"concept\": \"Key idea\", \"meaning\": \"The main point to understand\", \"example\": \"Break a topic into smaller parts\" }, { \"concept\": \"Review\", \"meaning\": \"Practice remembering important details\", \"example\": \"Use quizzes or flashcards\" }, { \"concept\": \"Summary\", \"meaning\": \"A short explanation of a topic\", \"example\": \"Use a table to compare important details\" } ] }, \"provider\": \"static-fallback\", \"fallback\": true } }}",
        "options": {}
      },
      "id": "return-static-tables-fallback",
      "name": "Return Static Tables Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        1400
      ]
    }
  ],
  "connections": {
    "Tables Agent Webhook": {
      "main": [
        [
          {
            "node": "Build Tables Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tables Agent Prompt": {
      "main": [
        [
          {
            "node": "Tables Gemini AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Gemini AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini AI Agent": {
      "main": [
        [
          {
            "node": "Tables Gemini Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Gemini Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Gemini Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Gemini Tables JSON": {
      "main": [
        [
          {
            "node": "Return Gemini Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Groq AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq AI Agent": {
      "main": [
        [
          {
            "node": "Tables Groq Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Groq Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Groq Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables OpenRouter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Groq Tables JSON": {
      "main": [
        [
          {
            "node": "Return Groq Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables OpenRouter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter AI Agent": {
      "main": [
        [
          {
            "node": "Tables OpenRouter Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables OpenRouter Succeeded?": {
      "main": [
        [
          {
            "node": "Clean OpenRouter Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables Mistral AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean OpenRouter Tables JSON": {
      "main": [
        [
          {
            "node": "Return OpenRouter Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables Mistral AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral AI Agent": {
      "main": [
        [
          {
            "node": "Tables Mistral Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables Mistral Succeeded?": {
      "main": [
        [
          {
            "node": "Clean Mistral Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tables DeepSeek AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Mistral Tables JSON": {
      "main": [
        [
          {
            "node": "Return Mistral Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tables DeepSeek AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek AI Agent": {
      "main": [
        [
          {
            "node": "Tables DeepSeek Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tables DeepSeek Succeeded?": {
      "main": [
        [
          {
            "node": "Clean DeepSeek Tables JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Static Tables Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean DeepSeek Tables JSON": {
      "main": [
        [
          {
            "node": "Return DeepSeek Tables Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}