n8n-workflows/Study Aura - Source Reader Pipeline.json
{
  "name": "Study Aura - Source Reader Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-source-reader",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "source-reader-webhook",
      "name": "Source Reader Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        944,
        928
      ],
      "webhookId": "study-aura-source-reader"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst sourceType = String(body.sourceType || body.type || 'text').toLowerCase();\nconst value = String(body.value || body.content || body.url || '').trim();\nconst title = String(body.title || '').trim();\nconst originalUrl = String(body.originalUrl || body.url || value || '').trim();\n\nfunction titleFromValue(input, fallback) {\n  if (title) return title;\n  if (!input) return fallback;\n  try {\n    const url = new URL(input);\n    return url.hostname.replace(/^www\\./, '');\n  } catch {\n    return input.slice(0, 60) || fallback;\n  }\n}\n\nreturn [{\n  json: {\n    sourceType,\n    title: titleFromValue(value, 'Untitled Source'),\n    value,\n    originalUrl: ['website', 'youtube', 'pdf', 'image'].includes(sourceType) ? originalUrl : '',\n    extractedText: '',\n    summary: '',\n    status: 'reading',\n    statusMessage: 'Reading source...',\n    parserProvider: 'none'\n  }\n}];"
      },
      "id": "normalize-source-input",
      "name": "Normalize Source Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        928
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "website",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "website"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-source-type",
      "name": "Route Source Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1392,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.value || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = text.length > MAX_CHARS ? text.slice(0, MAX_CHARS) + '\\n\\n[Text trimmed for demo token limit.]' : text;\n\nreturn [{\n  json: {\n    ...$json,\n    extractedText: safeText,\n    summary: safeText.length > 280 ? safeText.slice(0, 280) + '...' : safeText,\n    status: safeText ? 'ready' : 'failed',\n    statusMessage: safeText ? 'Text source is ready.' : 'No text content was provided.',\n    parserProvider: 'direct-text'\n  }\n}];"
      },
      "id": "text-direct-reader",
      "name": "Text Direct Reader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        560
      ]
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/http://{{$json.originalUrl.replace(/^https?:\\/\\//, '')}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "website-jina-reader",
      "name": "Website Fallback 1 - Jina Reader",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        752
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst body = $json.body || $json.data || $json;\nconst rawText = typeof body === 'string' ? body : JSON.stringify(body || '');\nconst text = rawText.replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = text.length > MAX_CHARS ? text.slice(0, MAX_CHARS) + '\\n\\n[Website content trimmed for demo token limit.]' : text;\nconst ok = safeText && safeText.length > 200 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'Website extracted using Jina Reader.' : 'Jina Reader could not extract enough content.',\n    parserProvider: ok ? 'jina-reader' : 'jina-reader-failed'\n  }\n}];"
      },
      "id": "normalize-jina-result",
      "name": "Normalize Jina Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "jina-success",
      "name": "Jina Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_FIRECRAWL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.originalUrl}}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "website-firecrawl",
      "name": "Website Fallback 2 - Firecrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        848
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst data = $json.data || $json;\nconst rawText = data.markdown || data.content || data.text || '';\nconst text = String(rawText).replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = text.length > MAX_CHARS ? text.slice(0, MAX_CHARS) + '\\n\\n[Website content trimmed for demo token limit.]' : text;\nconst ok = safeText && safeText.length > 200 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'Website extracted using Firecrawl.' : 'Firecrawl could not extract enough content.',\n    parserProvider: ok ? 'firecrawl' : 'firecrawl-failed'\n  }\n}];"
      },
      "id": "normalize-firecrawl-result",
      "name": "Normalize Firecrawl Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "firecrawl-success",
      "name": "Firecrawl Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2784,
        848
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.originalUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "website-raw-html",
      "name": "Website Fallback 3 - Raw HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        944
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst html = typeof $json.body === 'string' ? $json.body : JSON.stringify($json);\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst MAX_CHARS = 18000;\nconst safeText = text.length > MAX_CHARS ? text.slice(0, MAX_CHARS) + '\\n\\n[Website content trimmed for demo token limit.]' : text;\nconst ok = safeText.length > 120;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'failed',\n    statusMessage: ok ? 'Website extracted using raw HTML fallback.' : 'Could not read this website. Try copied text instead.',\n    parserProvider: ok ? 'raw-html-fallback' : 'website-failed'\n  }\n}];"
      },
      "id": "normalize-raw-html-result",
      "name": "Normalize Raw HTML Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8787/transcribe-youtube",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\":\"{{$json.originalUrl}}\"}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "youtube-local-helper",
      "name": "YouTube Fallback 1 - Local Helper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst data = $json.data || $json;\nconst text = data.text || data.transcript || data.content || '';\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[YouTube transcript trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 120 && !$json.error && data.status !== 'failed';\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'YouTube audio transcribed using local yt-dlp + Groq Whisper helper.' : (data.statusMessage || 'Local YouTube helper failed. Trying transcript providers.'),\n    parserProvider: ok ? (data.provider || 'yt-dlp-groq-whisper') : 'yt-dlp-groq-whisper-failed'\n  }\n}];"
      },
      "id": "normalize-youtube-local-helper-result",
      "name": "Normalize YouTube Local Helper Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "youtube-local-helper-success",
      "name": "YouTube Local Helper Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.supadata.ai/v1/youtube/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=REPLACE_WITH_SUPADATA_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.originalUrl}}\",\n  \"text\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "youtube-supadata",
      "name": "YouTube Fallback 2 - Supadata Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        1072
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst data = $json.data || $json;\nconst text = data.text || data.transcript || data.content || (Array.isArray(data.segments) ? data.segments.map(s => s.text).join(' ') : '');\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[YouTube transcript trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 120 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'YouTube transcript extracted using Supadata.' : 'Supadata transcript failed. Trying secondary transcript provider.',\n    parserProvider: ok ? 'supadata-transcript' : 'supadata-transcript-failed'\n  }\n}];"
      },
      "id": "normalize-youtube-supadata-result",
      "name": "Normalize YouTube Supadata Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "youtube-supadata-success",
      "name": "YouTube Supadata Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2784,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.transcriptapi.com/youtube",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_TRANSCRIPTAPI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\":\"{{$json.originalUrl}}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "youtube-transcriptapi",
      "name": "YouTube Fallback 3 - TranscriptAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        1184
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst data = $json.data || $json;\nconst text = data.text || data.transcript || data.content || (Array.isArray(data.segments) ? data.segments.map(s => s.text).join(' ') : '');\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[YouTube transcript trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 120 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'failed',\n    statusMessage: ok ? 'YouTube transcript extracted using TranscriptAPI.' : 'Could not extract or transcribe this YouTube video. Try copied text or another video.',\n    parserProvider: ok ? 'transcriptapi' : 'youtube-failed'\n  }\n}];"
      },
      "id": "normalize-youtube-transcriptapi-result",
      "name": "Normalize YouTube TranscriptAPI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_MISTRAL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{$json.originalUrl}}\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "pdf-mistral-ocr",
      "name": "PDF Fallback 1 - Mistral OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        1200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst pages = $json.pages || $json.data?.pages || [];\nconst text = Array.isArray(pages)\n  ? pages.map(p => p.markdown || p.text || '').join('\\n\\n')\n  : ($json.text || $json.markdown || '');\n\nconst cleanedText = String(text || '')\n  .replace(/!\\[[^\\]]*\\]\\([^)]+\\)/g, ' ')\n  .replace(/\\\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]{2,}/g, ' ')\n  .trim();\n\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[PDF content trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 120 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'PDF extracted using Mistral OCR.' : 'Mistral OCR failed. Trying Gemini PDF/vision fallback.',\n    parserProvider: ok ? 'mistral-ocr' : 'mistral-ocr-failed'\n  }\n}];"
      },
      "id": "normalize-mistral-pdf-result",
      "name": "Normalize Mistral PDF Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mistral-pdf-success",
      "name": "Mistral PDF Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=REPLACE_WITH_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Read and analyze this educational PDF/document from the URL. Extract the key readable content, headings, definitions, facts, and study-worthy points. If full extraction is not possible, summarize what can be inferred from the document link and filename. Return clean markdown only. PDF URL: {{$json.originalUrl}}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "pdf-gemini-fallback",
      "name": "PDF Fallback 2 - Gemini Document Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        1312
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst text = $json.candidates?.[0]?.content?.parts?.map(p => p.text || '').join('\\n') || '';\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[PDF fallback content trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 80 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'failed',\n    statusMessage: ok ? 'PDF analyzed using Gemini fallback.' : 'Could not extract this PDF. Try copied text or a clearer PDF.',\n    parserProvider: ok ? 'gemini-pdf-fallback' : 'pdf-failed'\n  }\n}];"
      },
      "id": "normalize-gemini-pdf-result",
      "name": "Normalize Gemini PDF Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_MISTRAL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"pixtral-12b-2409\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyze this educational image. If there is readable text, extract it accurately. If there is no readable text, describe the image clearly and explain what a student can learn from it. If the image contains a diagram, chart, map, illustration, animal, object, or scene, identify the important parts and summarize the educational meaning. Return clean markdown only.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": \"{{$json.originalUrl}}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "image-pixtral",
      "name": "Image Fallback 1 - Pixtral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        1472
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst text = $json.choices?.[0]?.message?.content || $json.text || '';\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[Image content trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 40 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'pending',\n    statusMessage: ok ? 'Image extracted using Pixtral vision.' : 'Pixtral could not extract enough content. Trying Gemini Vision fallback.',\n    parserProvider: ok ? 'mistral-pixtral' : 'mistral-pixtral-failed'\n  }\n}];"
      },
      "id": "normalize-pixtral-result",
      "name": "Normalize Pixtral Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pixtral-success",
      "name": "Pixtral Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        1472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=REPLACE_WITH_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analyze this educational image. If there is readable text, extract it accurately. If there is no readable text, describe the image clearly and explain what a student can learn from it. If the image contains a diagram, chart, map, illustration, animal, object, or scene, identify the important parts and summarize the educational meaning. Return clean markdown only. Image URL: {{$json.originalUrl}}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "image-gemini-vision",
      "name": "Image Fallback 2 - Gemini Vision Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        1568
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Normalize Source Input').item.json;\nconst text = $json.candidates?.[0]?.content?.parts?.map(p => p.text || '').join('\\n') || '';\nconst cleanedText = String(text || '').replace(/\\s+/g, ' ').trim();\nconst MAX_CHARS = 18000;\nconst safeText = cleanedText.length > MAX_CHARS ? cleanedText.slice(0, MAX_CHARS) + '\\n\\n[Image content trimmed for demo token limit.]' : cleanedText;\nconst ok = safeText && safeText.length > 40 && !$json.error;\n\nreturn [{\n  json: {\n    ...input,\n    extractedText: ok ? safeText : '',\n    status: ok ? 'ready' : 'failed',\n    statusMessage: ok ? 'Image extracted using Gemini fallback.' : 'Could not read this image. Try a clearer image or copied text.',\n    parserProvider: ok ? 'gemini-vision' : 'image-failed'\n  }\n}];"
      },
      "id": "normalize-gemini-image-result",
      "name": "Normalize Gemini Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    status: 'failed',\n    statusMessage: `Unsupported source type: ${$json.sourceType}`,\n    parserProvider: 'unsupported-source-type'\n  }\n}];"
      },
      "id": "unsupported-source-type",
      "name": "Unsupported Source Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst MAX_CHARS = 18000;\nconst cleanedExtractedText = String(item.extractedText || '')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst safeExtractedText = cleanedExtractedText.length > MAX_CHARS\n  ? cleanedExtractedText.slice(0, MAX_CHARS) + '\\n\\n[Source content trimmed for demo token limit.]'\n  : cleanedExtractedText;\nconst fallbackText = String(item.value || '')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst textForSummary = safeExtractedText || fallbackText;\nconst summary = item.summary || (textForSummary.length > 360 ? textForSummary.slice(0, 360) + '...' : textForSummary);\n\nreturn [{\n  json: {\n    sourceType: item.sourceType || 'text',\n    title: item.title || 'Untitled Source',\n    value: item.value || '',\n    originalUrl: item.originalUrl || '',\n    extractedText: safeExtractedText,\n    summary,\n    status: item.status || 'failed',\n    statusMessage: item.statusMessage || 'Source reader finished.',\n    parserProvider: item.parserProvider || 'unknown'\n  }\n}];"
      },
      "id": "final-response-shape",
      "name": "Final Response Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        1040
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Source Reader Webhook": {
      "main": [
        [
          {
            "node": "Normalize Source Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Input": {
      "main": [
        [
          {
            "node": "Route Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Source Type": {
      "main": [
        [
          {
            "node": "Text Direct Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Fallback 1 - Jina Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Fallback 1 - Local Helper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Fallback 1 - Mistral OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Fallback 1 - Pixtral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Direct Reader": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Fallback 1 - Jina Reader": {
      "main": [
        [
          {
            "node": "Normalize Jina Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jina Result": {
      "main": [
        [
          {
            "node": "Jina Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Fallback 2 - Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Fallback 2 - Firecrawl": {
      "main": [
        [
          {
            "node": "Normalize Firecrawl Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Firecrawl Result": {
      "main": [
        [
          {
            "node": "Firecrawl Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Fallback 3 - Raw HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Fallback 3 - Raw HTML": {
      "main": [
        [
          {
            "node": "Normalize Raw HTML Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Raw HTML Result": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Fallback 1 - Local Helper": {
      "main": [
        [
          {
            "node": "Normalize YouTube Local Helper Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Local Helper Result": {
      "main": [
        [
          {
            "node": "YouTube Local Helper Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Local Helper Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Fallback 2 - Supadata Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Fallback 2 - Supadata Transcript": {
      "main": [
        [
          {
            "node": "Normalize YouTube Supadata Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Supadata Result": {
      "main": [
        [
          {
            "node": "YouTube Supadata Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Supadata Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Fallback 3 - TranscriptAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Fallback 3 - TranscriptAPI": {
      "main": [
        [
          {
            "node": "Normalize YouTube TranscriptAPI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube TranscriptAPI Result": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Fallback 1 - Mistral OCR": {
      "main": [
        [
          {
            "node": "Normalize Mistral PDF Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Mistral PDF Result": {
      "main": [
        [
          {
            "node": "Mistral PDF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral PDF Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Fallback 2 - Gemini Document Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Fallback 2 - Gemini Document Prompt": {
      "main": [
        [
          {
            "node": "Normalize Gemini PDF Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Gemini PDF Result": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Fallback 1 - Pixtral": {
      "main": [
        [
          {
            "node": "Normalize Pixtral Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Pixtral Result": {
      "main": [
        [
          {
            "node": "Pixtral Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pixtral Success?": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Fallback 2 - Gemini Vision Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Fallback 2 - Gemini Vision Prompt": {
      "main": [
        [
          {
            "node": "Normalize Gemini Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Gemini Image Result": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Source Type": {
      "main": [
        [
          {
            "node": "Final Response Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "study-aura-source-reader-reordered-fallbacks-v3",
  "tags": []
}