n8n-workflows/Study Aura - Chat Pipeline AI Agent.json
{
  "name": "Study Aura - Chat Pipeline AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "study-aura-chat-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "chat-agent-webhook",
      "name": "Chat Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 260],
      "webhookId": "study-aura-chat-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent-prompt",
              "name": "prompt",
              "value": "={{\"You are Study Aura, an AI-powered educational tutor for students. Answer clearly, safely, and helpfully. Keep your answer concise but useful. If the user asks for illegal, harmful, or sensitive content, refuse briefly and redirect to safe learning. Current topic: \" + ($json.body.topic || \"General Study\") + \"\\n\\nUser message: \" + ($json.body.message || \"\")}}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{$json.body.topic || \"General Study\"}}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{$json.body.message || \"\"}}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{$json.body.userId || \"demo-user\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-agent-prompt",
      "name": "Prepare Agent Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "options": {
          "systemMessage": "You are Study Aura, a safe educational AI tutor. Keep answers concise, student-friendly, and focused on learning."
        }
      },
      "id": "study-aura-ai-agent",
      "name": "Study Aura AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.5,
          "maxOutputTokens": 250
        }
      },
      "id": "gemini-chat-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 520],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Study Aura Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "agent-output-exists",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "agent-succeeded",
      "name": "Agent Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"answer\": $json.output,\n    \"sources\": []\n  }\n}}",
        "options": {}
      },
      "id": "return-agent-response",
      "name": "Return Agent Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"answer\": \"Study Aura is currently in demo fallback mode. I can still help you study: summarize the topic in 3 short points, list key terms, then quiz yourself with 5 recall questions.\",\n  \"sources\": []\n}",
        "options": {}
      },
      "id": "return-agent-fallback",
      "name": "Return Agent Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 360]
    }
  ],
  "connections": {
    "Chat Agent Webhook": {
      "main": [
        [
          {
            "node": "Prepare Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Prompt": {
      "main": [
        [
          {
            "node": "Study Aura AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Study Aura AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Study Aura AI Agent": {
      "main": [
        [
          {
            "node": "Agent Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Succeeded?": {
      "main": [
        [
          {
            "node": "Return Agent Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Agent Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}